
{% if article.metafields.custom.related_articles.value %}<a href="{{ related_article.url }}">{% endif %}
    <div class="blog_grid--eachItem">
        <img src="{{ related_article.image | img_url: 'master' }}" alt="" style="width: 200px;">
        <div class="content__eachItem--parent">
            <div class="content--eachItem">
                {% if related_article.tags.size > 0 %}
                    <p class="content--tags">
                        {% for tag in related_article.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>
                {% endif %}
                <span class="content--publiDate">
                    {{ related_article.published_at | date: "%b %d, %Y" }}
                </span>
            </div>
            <div class="content--title">
                {{ related_article.title }}
            </div>
            <div class="content--url">
                <a href="{{ related_article.url }}"> Read Post
                    <div class="btn--underline" style="display: block;"></div>
                </a>
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Vector 44" d="M1 10.5L10 1.5M10 1.5V10.5M10 1.5H1" stroke="#FF7121" stroke-width="1.5"/>
                </svg>
            </div>
        </div>
    </div>
{% if article.metafields.custom.related_articles.value %} </a>{% endif %} 
