{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}

    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    
      <a href="/" title="Home">
        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5894 6.70685L6.96437 0.456846C6.72749 0.193096 6.27249 0.193096 6.03561 0.456846L0.410615 6.70685C0.32965 6.79659 0.276505 6.90793 0.257643 7.02732C0.23878 7.14671 0.255012 7.26901 0.304365 7.37934C0.404365 7.60497 0.628115 7.74997 0.87499 7.74997H2.12499V12.125C2.12499 12.2907 2.19084 12.4497 2.30805 12.5669C2.42526 12.6841 2.58423 12.75 2.74999 12.75H4.62499C4.79075 12.75 4.94972 12.6841 5.06693 12.5669C5.18414 12.4497 5.24999 12.2907 5.24999 12.125V9.62497H7.74999V12.125C7.74999 12.2907 7.81584 12.4497 7.93305 12.5669C8.05026 12.6841 8.20923 12.75 8.37499 12.75H10.25C10.4158 12.75 10.5747 12.6841 10.6919 12.5669C10.8091 12.4497 10.875 12.2907 10.875 12.125V7.74997H12.125C12.246 7.75049 12.3646 7.71577 12.4663 7.65006C12.5679 7.58435 12.6483 7.49048 12.6975 7.3799C12.7467 7.26932 12.7627 7.14681 12.7435 7.0273C12.7243 6.90779 12.6707 6.79644 12.5894 6.70685Z" fill="#999999"/>
          </svg>
        </a>
    
      {% if template contains 'page' %}
    
        <span aria-hidden="true">&rsaquo;</span>
    
        <span>{{ page.title }}</span>
    
      {% elsif template contains 'product' %}
    
        {% if collection.url %}
    
          <span aria-hidden="true">&rsaquo;</span>
    
          {{ collection.title | link_to: collection.url }}
    
        {% endif %}
    
        <span aria-hidden="true">&rsaquo;</span>
    
        <span>{{ product.title }}</span>
    
      {% elsif template contains 'collection' and collection.handle %}
    
        <span aria-hidden="true">&rsaquo;</span>
    
        {% if current_tags %}
    
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
    
          {{ collection.title | link_to: url }}
    
          <span aria-hidden="true">&rsaquo;</span>
    
          <span>{{ current_tags | join: " + " }}</span>
    
        {% else %}
    
          <span>{{ collection.title }}</span>
    
        {% endif %}
    
      {% elsif template == 'blog' %}
    
        <span aria-hidden="true">&rsaquo;</span>
    
        {% if current_tags %}
    
          {{ blog.title | link_to: blog.url }}
    
          <span aria-hidden="true">&rsaquo;</span>
    
          <span>{{ current_tags | join: " + " }}</span>
    
        {% else %}
    
        <span>{{ blog.title }}</span>
    
        {% endif %}
    
      {% elsif template == 'article' %}
    
        <span aria-hidden="true">&rsaquo;</span>
    
        {{ blog.title | link_to: blog.url }}
    
        <span aria-hidden="true">&rsaquo;</span>
    
        <span>{{ article.title }}</span>
    
      {% else %}
    
       <span aria-hidden="true">&rsaquo;</span>
    
       <span>{{ page_title }}</span>
    
      {% endif %}
    
    </nav>
    
    {% endunless %} 