{%- liquid
  
  if label_is_translation == true
    assign label = label | t
  else 
    assign label = label | escape
  endif 

  if style == 'outline-arrow'
    assign style_class = 'button--outline--hover-arrow button--mobile-arrow'
  elsif style == 'outline'
    assign style_class = 'button--outline--hover-accent'
  elsif style == 'solid-arrow'
    assign style_class = 'button--solid--hover-arrow button--mobile-arrow'
  elsif style == 'solid'
    assign style_class = 'button--solid--hover-accent'
  endif

  if cta_target and cta_target != blank
    assign cta_target = '_blank'
  else
    assign cta_target = '_self'
  endif

-%}

{% assign is_meeting_link = false %}
{%  if link == '#book-a-meeting' %} 
  {% assign is_meeting_link = true %}
{%  endif %}
{%- if type == 'button' -%}
  <button {{ id }} {% if is_submit %} type="submit" {% endif %} {% if onclick %} onclick="{{ onclick }}" {% endif %} {% if cta_target %} target="{{ cta_target }}" {%- endif -%}
{%- else -%}
  <a  {% unless is_meeting_link %} href="{{ link | escape }}" {% if target %} target="_blank" {% endif %} {% if onclick %} onclick="{{ onclick }}" {% endif %} {% if cta_target %} target="{{ cta_target }}" {% endif -%}  {%  endunless %} 
{%- endif -%}
  class="button {{ style_class }} {{ class }}" title="{{ label }}" {{ attribute }}>
    <span class="button__text" {% if is_meeting_link %} data-cal-link="/team/shoptrade" {%  endif  %}>{{ label }}</span>
    {%- if style_class contains '-arrow' -%}
      <span class="button__arrow">{%- render 'theme-symbols', icon: 'arrow' -%}</span>
    {%- endif -%}

</{%- if type == 'button' -%} button {%- else -%} a {%- endif -%}>