<div class="sharing social-links ">
  {%- comment -%}
    <span class="sharing-label">{{ 'general.social.share_heading' | t }}</span>
  {%- endcomment -%}
  <ul class="sharing-list social-media-icons">
    <li class="facebook social-media-item">
      <a class="sharing-link" target="_blank" rel="noopener" href="//www.facebook.com/sharer.php?u={{ shop.url | append: article.url }}">
        <span aria-hidden="true">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.4688 0.0522461C5.67975 0.0522461 0.96875 4.76325 0.96875 10.5522C0.96875 16.3412 5.67975 21.0522 11.4688 21.0522C17.2577 21.0522 21.9688 16.3412 21.9688 10.5522C21.9688 4.76325 17.2577 0.0522461 11.4688 0.0522461ZM11.4688 1.80225C16.3119 1.80225 20.2188 5.70912 20.2188 10.5522C20.2209 12.647 19.4697 14.6726 18.1024 16.2595C16.7351 17.8464 14.8428 18.8888 12.7708 19.1964V13.1037H15.2628L15.6539 10.5724H12.7708V9.18987C12.7708 8.13987 13.1164 7.20625 14.099 7.20625H15.6784V4.99775C15.401 4.96012 14.8139 4.87875 13.7044 4.87875C11.3874 4.87875 10.0294 6.102 10.0294 8.88975V10.5724H7.64763V13.1037H10.0294V19.1745C7.98603 18.8382 6.12883 17.7863 4.78961 16.2068C3.45038 14.6273 2.71638 12.6231 2.71875 10.5522C2.71875 5.70912 6.62563 1.80225 11.4688 1.80225Z" fill="black"/>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.share_on_facebook' | t }}
        </span>
      </a>
    </li>

    <li class="linkedin social-media-item">
      <a class="sharing-link" target="_blank" rel="noopener" href="https://www.linkedin.com/sharing/share-offsite/?url={{ shop.url | append: article.url }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        <span aria-hidden="true">
          <svg width="22" height="22" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.33649 20.5522H5.01391V6.67725H1.33649V20.5522ZM3.1752 0.552246C1.9494 0.552246 0.96875 1.55225 0.96875 2.80225C0.96875 4.05225 1.9494 5.05225 3.1752 5.05225C4.40101 5.05225 5.38165 4.05225 5.38165 2.80225C5.38165 1.55225 4.40101 0.552246 3.1752 0.552246ZM11.2655 8.80225V6.67725H7.5881V20.5522H11.2655V13.4272C11.2655 9.42725 16.2913 9.17725 16.2913 13.4272V20.5522H19.9688V12.0522C19.9688 5.30225 12.9817 5.55225 11.2655 8.80225Z" fill="black"/>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.share_on_linkedin' | t }}</span>
      </a>
    </li>

    <li class="twitter social-media-item">
      <a class="sharing-link" target="_blank" rel="noopener" href="https://twitter.com/share?url={{ shop.url | append: article.url }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        <span aria-hidden="true">
          <svg width="22" height="22" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.9688 1.56233C22.9688 1.56233 20.9508 2.75807 19.8288 3.09714C19.2265 2.40247 18.4261 1.91011 17.5358 1.68665C16.6455 1.46318 15.7082 1.51939 14.8508 1.84768C13.9934 2.17596 13.2572 2.76048 12.7417 3.52218C12.2263 4.28388 11.9564 5.18601 11.9688 6.10655V7.10969C10.2114 7.1554 8.47002 6.76442 6.89976 5.97158C5.32949 5.17873 3.97907 4.00862 2.96875 2.56547C2.96875 2.56547 -1.03125 11.5937 7.96875 15.6063C5.90928 17.0086 3.45591 17.7118 0.96875 17.6126C9.96875 22.6282 20.9688 17.6126 20.9688 6.07646C20.9688 5.79759 20.9408 5.51871 20.8888 5.24385C21.9088 4.23469 22.9688 1.56233 22.9688 1.56233Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.share_on_twitter' | t }}</span>
      </a>
    </li>

    <li class="twitter social-media-item">
      <a class="sharing-link" target="_blank" rel="noopener" href="https://pinterest.com/pin/create/button/?url={{ shop.url | append: article.url }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        <span aria-hidden="true">
          <svg width="22" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.9688 8.98342C17.9688 11.2881 17.1592 13.4004 15.6885 14.9287C14.3086 16.3633 12.4346 17.1865 10.5469 17.1865C9.03809 17.1865 7.93164 16.7783 7.13965 16.2774L6.21875 20.1895C6.1848 20.3406 6.12122 20.4835 6.03168 20.6099C5.94215 20.7363 5.82845 20.8437 5.69715 20.9259C5.56585 21.0081 5.41956 21.0634 5.26673 21.0887C5.11391 21.114 4.95759 21.1088 4.80681 21.0733C4.65603 21.0378 4.51378 20.9727 4.3883 20.8819C4.26281 20.7911 4.15658 20.6763 4.07574 20.5442C3.9949 20.412 3.94106 20.2652 3.91733 20.1121C3.8936 19.959 3.90046 19.8028 3.9375 19.6524L7.0625 6.37111C7.09646 6.21998 7.16004 6.07707 7.24957 5.95066C7.3391 5.82426 7.4528 5.71685 7.5841 5.63466C7.7154 5.55248 7.8617 5.49713 8.01452 5.47184C8.16734 5.44655 8.32367 5.4518 8.47445 5.4873C8.62523 5.5228 8.76747 5.58784 8.89296 5.67866C9.01844 5.76948 9.12467 5.88428 9.20551 6.01642C9.28635 6.14855 9.34019 6.2954 9.36392 6.44848C9.38765 6.60155 9.38079 6.75781 9.34375 6.90822L7.73731 13.7373C8.07813 14.1455 8.90235 14.8428 10.5469 14.8428C13.043 14.8428 15.625 12.6504 15.625 8.98342C15.6245 7.96514 15.3898 6.96062 14.9391 6.04753C14.4883 5.13443 13.8337 4.33722 13.0257 3.71752C12.2177 3.09783 11.278 2.67225 10.2793 2.47369C9.28052 2.27514 8.24951 2.30892 7.26591 2.57243C6.28232 2.83594 5.37251 3.32212 4.6068 3.99338C3.8411 4.66464 3.24003 5.503 2.85005 6.44364C2.46007 7.38428 2.29164 8.40201 2.35777 9.41813C2.42391 10.4343 2.72283 11.4216 3.23145 12.3037C3.375 12.5719 3.40863 12.8855 3.32522 13.178C3.24182 13.4706 3.04791 13.7192 2.7845 13.8714C2.52109 14.0236 2.20882 14.0674 1.91371 13.9935C1.6186 13.9197 1.36378 13.7339 1.20313 13.4756C0.514271 12.2821 0.109178 10.9462 0.019182 9.57113C-0.070814 8.19607 0.156699 6.81873 0.684122 5.54566C1.21155 4.27258 2.02474 3.13789 3.06082 2.22935C4.09689 1.3208 5.32807 0.662759 6.65912 0.306116C7.99017 -0.0505268 9.38543 -0.0962112 10.737 0.172597C12.0885 0.441404 13.3601 1.0175 14.4534 1.85632C15.5467 2.69514 16.4323 3.77421 17.0419 5.01006C17.6515 6.24591 17.9686 7.60541 17.9688 8.98342Z" fill="black"/>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.share_on_twitter' | t }}</span>
      </a>
    </li>
  </ul>
</div>