<div class="sharing social-links ">
    {%- comment -%}
      <span class="sharing-label">{{ 'general.social.share_heading' | t }}</span>
    {%- endcomment -%}
    <ul class="sharing-list social-media-icons">
      <li class="facebook social-media-item">
        <a class="sharing-link" target="_blank" rel="noopener" href="//www.facebook.com/sharer.php?u={{ shop.url | append: article.url }}">
          <span aria-hidden="true">       <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/facebook_ac6f57e4-b5ed-4186-9e13-71624138729e.png?v=1688538867">
          </span>
          <span class="visually-hidden">{{ 'general.social.share_on_facebook' | t }}
          </span>
        </a>

      </li>
   

        <li class="pinterest social-media-item">
          <a class="sharing-link" target="_blank" rel="noopener" href="https://www.linkedin.com/sharing/share-offsite/?url={{ shop.url | append: article.url }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
            <span aria-hidden="true">      <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/linkedin_53d19cd7-824d-443f-a128-245ac23f3c4a.png?v=1688536177">
            </span>
            <span class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}
            </span>
          </a>
   
        </li>
 
    </ul>
  </div>