<section class='about-value'>
    <div class="about-value__header">
      <div class="container">
          <h2 class='h1-main my-60'>{{ section.settings.vedioHeading }}</h2>
      </div>
    </div>
    <div class="about-value__container">
        <div class="container">
            <div class='about-value__wrp'>
                <div class="about-value__vedioWrp">
                    <div class="vedio__container">                                                                                         
                      <div class="video-player" data-player-type="{% if section.settings.external_video_url contains   'vimeo' %}vimeo{% else %}youtube{% endif %}" data-player-url="{{section.settings.external_video_url}}">
                        <div class="preview" data-js="preview">
                          <img id="image2" class="vedio__thumbnail" src="{{ section.settings.vedioThumbnailImage | image_url }}"/>
                          {% if section.settings.vedioUrl != null %}
                            <span class="play-icon arrow-btn ">
                              <img id="image1" src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/play-icns-arrrow.png?v=1665747322" />
                            </span>
                          {% endif %}
                        </div>
                        <div class="aboutUsVideo" data-js="video" data-hidden="true"><div data-js="video-root"></div></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="about-value__cards">
                {% for block in section.blocks %}
                    <div class="about-value__card">
                        <h3 class="mt-0"> {{ block.settings.vedioHead }} </h3>
                        <p class="font-20 clr-b"> {{ block.settings.vedioSubtext }} </p>
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>
    {%- comment -%}
      <div class="model-popup">
        <div class="model-popup__wrp">
          <div class="model-popup__vedio">
            <span class="close-model"></span>
            <iframe width="100%" height="100%" class="iframe-vedio" src="{{ section.settings.vedioUrl }}" frameborder="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>                              
          </div>
        </div>
      </div>
    {%- endcomment -%}
</section>


{% schema %}
  {
    "name": "vedio section",
    "settings": [
      {
        "id": "vedioHeading",
        "label": "Headding text",
        "type": "text"
      },  {
        "id": "vedioThumbnailImage",
        "label": " Thumbnail Image",
        "type": "image_picker"
      }, { 
        "id": "vedioUrl", 
        "label": "Vedio link", 
        "type": "url" 
      },
      { 
        "type": "video_url", 
        "id": "external_video_url", 
        "accept": ["vimeo", "youtube"], 
        "label": "Video URL", 
        "default": "https://player.vimeo.com/video/794041269" 
      } 
    ], 
    "blocks":[
        {
            "name":"vedio cards",
            "type":"vedioCard",
            "settings":[
                {
                    "id":"vedioHead",
                    "label":"card head",
                    "type":"text"
                }, {
                    "id":"vedioSubtext",
                    "label":"card sub text",
                    "type":"text"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "vedio section"
      }
    ]
  }
{% endschema %}