{% comment %} <section class="teamMembers">
    <div class="container">
        <h2 class="h1 my-60">Meet our Team</h2>
    </div>
    <div class="teamMembers__wrp">
        <div class="container">
        </div>
    </div>
</section> {% endcomment %}
<section class="about-team-members">
  <div class="about-team-members__head">
    <div class="container">
      <h1 class="my-60">{{ section.settings.heading }}
      </h1>
    </div>
    </div>

    <div class="about-team-members__wrp">
        <div class="container">
            <ul class="about-team-members__container">
                {%- for block in section.blocks -%}
                    {% if block.settings.profileType == "opening" %}
                        <li class="about-team-members__card">
                          <div class="marquee marquee--hover-pause enable-animation p-0">
                            <div class="marquee__content">
                    
                    
                              {{ block.settings.slider }}
                              
                            </div>
                            <div class="marquee__content aria-hidden=" true"">
                              
                              {{ block.settings.slider }}
                              
                    
                            </div>
                          </div>
                            <div class="about-team-members__img nopatch">
                               <div>
                                <img class="about-team-members__imgMain" src="{{ block.settings.memberImage | image_url }}">
                            </div>
                            </div>
                            <div class="about-team-members__footer">
                                <a class="fnt-24 clr-b arrow-orange" target="_blank" href="{{ block.settings.careerLink }}"> {{ block.settings.careerbtn }} <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/arrow-orange_a302a158-4182-40c2-9a61-8ed900c41695.svg?v=1666854133" /> </a>
                            </div>
                        </li>
                        {% else %}
                        <li class="about-team-members__card">
                            <div class="about-team-members__img">
                                <img class="about-team-members__imgMain" src="{{ block.settings.memberImage | image_url }}">
                            
                            </div>
                            <div class="about-team-members__footer">
                                <h5 class="m-0">{{ block.settings.memberName }} </h5>
                                <p class="fnt-16 m-0 clr-b">{{ block.settings.memberDesignation }}</p>
                            </div>
                        </li>
                    {% endif %}
                  
                {%- endfor -%}
                
            </ul>
        </div>
    </div>
  </section>
  
  {% schema %}
  
    {
      "name": "team members",
      "settings": [
        {
          "id": "heading",
          "label": "Heading",
          "type": "text"
  
        }
      ],
      "blocks": [
        {
          "name": "Member",
          "type": "cardType",
          "settings": [{
            "id":"profileType",
            "type":"select",
            "label":"Profile Type",
            "options": [
                {
                  "value": "opening",
                  "label": "Opening"
                },
                {
                  "value": "member",
                  "label": "Member"
                }
              ]
        },{
          "id":"slider",
          "label":"Marquee",
          "type":"textarea"
        },
            {
              "id": "memberImage",
              "type": "image_picker",
              "label": "Image"
  
            }, {
              "id": "memberName",
              "type": "text",
              "label": "Name"
  
            },{
            "id":"memberDesignation",
            "type":"text",
            "label":"Designation"
          },{
            "id":"careerbtn",
            "type":"text",
            "label":"Opening link text"
          },
          
          {
            "id":"careerLink",
            "type":"url",
            "label":"Opening link"
          }
          ]
        }
      ]
  
    }
  {% endschema %}