{% style %}
    .services .h1{
        font-size: {{ section.settings.font_size_desk | times: 0.75 | round }}px;
    }
  
    @media(max-width:520px){
        .services .h1{
        font-size: {{ section.settings.font_size_mob }}px;
     }
    }
    {% if section.settings.bottom_shadow %}
      .services .h1{
        font-weight: 700;
      }
    {% endif %}

{% endstyle %}


<section class="services {% if section.settings.bottom_shadow %} page_banner_shadow {% endif %}">
  <div class="container">
    <div>
      <h1 class="h1">{{ section.settings.heading }}</h1>
    </div>
    <div class="banner_para">
      {{ section.settings.banner_para }}
    </div>
    <div>
      <a href="#contact-us" class="btn btn--orange" id="contact-btn-about">{{ section.settings.btntext }}</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "banner",
  "settings": [
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    },
    {
        "type": "range",
        "id": "font_size_desk",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font size desktop",
        "default": 64
      },
      {
        "type": "range",
        "id": "font_size_mob",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font size mobile",
        "default": 42
      },            
    {
      "id": "banner_para",
      "type": "richtext",
      "label": "Para"
    },
    {
      "id": "btntext",
      "label": "Button Text",
      "type": "text"
    },  
    {
        "type": "checkbox",
        "id": "bottom_shadow",
        "label": "Bottom shadow",
        "default": false
    }      
  ],
  "presets":[
    {
        "name":"banner"
    }
  ]
}
{% endschema %}