{% style %}
  :root{
    --text-xs: 14px;
    --text-sm: 16px;
    --text-base: 18px;
    --text-lg: 22px;
    --marquee-animation-duration: {{section.settings.scrolling_speed}}  
  }  
  {% if section.settings.background_gradient != blank %}
    .section-{{ section.id }} .announcement-bar, 
    .section-{{ section.id }} .announcement-bar__scrolling-list {
      background: {{section.settings.background_gradient}};
    }
  {% elsif section.settings.background != blank %}
    .section-{{ section.id }} .announcement-bar,
    .section-{{ section.id }} .announcement-bar__scrolling-list {
      background: {{section.settings.background}};
    }
  {% endif %}
  .section-{{ section.id }} .announcement-bar .announcement-bar__message,
  .section-{{ section.id }} .announcement-bar__item,
  .section-{{ section.id }} .announcement-bar__item p,
  .section-{{ section.id }} .announcement-bar__item p a,
  .section-{{ section.id }} .announcement-bar__message, 
  .section-{{ section.id }} .announcement-bar__message p a{
    color: {{section.settings.text_color}};
    font-weight: 400;
    letter-spacing: 1px;
  } 
  {% if section.settings.text_size == 'text-xs' %}
    .section-{{ section.id }} .announcement-bar__item, 
    .section-{{ section.id }} .announcement-bar__item p,
    .section-{{ section.id }} .announcement-bar__message p{
      font-size: var(--text-xs);
    }
  {% endif %}
  {% if section.settings.text_size == 'text-sm' %}
    .section-{{ section.id }} .announcement-bar__item,
    .section-{{ section.id }} .announcement-bar__item p,
    .section-{{ section.id }} .announcement-bar__message p{
      font-size: var(--text-sm);
    }
  {% endif %}
  {% if section.settings.text_size == 'text-base' %}
    .section-{{ section.id }} .announcement-bar__item, 
    .section-{{ section.id }} .announcement-bar__item p,
    .section-{{ section.id }} .announcement-bar__message p{
      font-size: var(--text-base);
    }
  {% endif %}
  {% if section.settings.text_size == 'text-lg' %}
    .section-{{ section.id }} .announcement-bar__item,
    .section-{{ section.id }} .announcement-bar__item p,
    .section-{{ section.id }} .announcement-bar__message p{
      font-size: var(--text-lg);
    }
  {% endif %}
{% endstyle %}

{% if section.settings.enable_announcement == true %}
  <div class="section-{{ section.id }}">  
    {%- if section.settings.navigation_mode == 'scrolling' -%}
      <marquee-text scrolling-speed="{{ section.settings.scrolling_speed }}" class="announcement-bar__scrolling-list">
        {%- capture content -%}
          {%- for block in section.blocks -%}
            <p class="bold {{ section.settings.text_size }}" {{ block.shopify_attributes }}>
              {%- if block.settings.url != blank -%}
                <a href="{{ block.settings.url }}">{{ block.settings.text }}</a>
              {%- else -%}
                {{ block.settings.text }}
              {%- endif -%}
            </p>

            <span class="shape-circle shape--sm"></span>
          {%- endfor -%}
        {%- endcapture -%}

        {%- for i in (1..10) -%}
          <span class="announcement-bar__item bold {{ section.settings.text_size }}" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
            {{- content -}}
          </span>
        {%- endfor -%}
      </marquee-text>
    {% else %}  
      <div class="js-announcement--bar swiper-container">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'announcement' -%}
                <div class="swiper-slide">
                  <div class="announcement-bar gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
                    {%- if block.settings.text != blank -%}
                      {%- if block.settings.link != blank -%}
                        <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                      {%- endif -%}
                          <div class="page_width">
                            <div class="announcement-bar__message {{ block.settings.text_alignment }} h5">
                              {{ block.settings.text }}
                              {%- if block.settings.link != blank -%}
                                {% render 'icon-arrow' %}
                              {%- endif -%}
                            </div>
                          </div>
                      {%- if block.settings.link != blank -%}
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
          {% comment %} <div class="slider-arrow only-desktop">
            <div class="js-arrow-left arrow-icon">
              {% render 'icon-left-arrow' %}
            </div>
            <div class="js-arrow-right arrow-icon">
              {% render 'icon-right-arrow' %}
            </div>
          </div> {% endcomment %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_announcement",
      "label": "Enable Announcement Bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky bar",
      "default": false
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        {
          "value": "text-xs",
          "label": "X-Small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        }
      ],
      "default": "text-xs"
    },
    {
      "type": "select",
      "id": "navigation_mode",
      "label": "Multiple message navigation",
      "options": [
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "scrolling",
          "label": "Auto-scrolling"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "label": "Scrolling speed",
      "min": 10,
      "max": 30,
      "unit": "s",
      "default": 20
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Welcome to our store</p>",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },        
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
