<section class="audit-timeline">
    <div class="container">
        <div class="wrapper">
            <h1 class="theading">{{ section.settings.theading }}</h1>
            <div class="timeline-container desktop-showHide" style="display:block;">
                {% for block in section.blocks %}
                {% case block.type %}
                {% when 'cardType-right' %}
                <!-- {% if block.settings.time_icon_right != blank %} -->
                <div class="timeline-block timeline-block-right">
                    <div class="timeline-icon">
                        <img class="time_icon_right" src="{{block.settings.time_icon_right| image_url}}" alt="Number" />
                    </div>
                    <div class="timeline-content">
                        <h3 class="time-head-right">{{ block.settings.title }}</h3>
                        <p class="time-desc-right">{{ block.settings.desc }}</p>
                    </div>
                </div>
                <!-- {% endif %} -->

                {% when 'cardType-left' %}                
                <div class="timeline-block timeline-block-left">
                    <div class="timeline-icon">
                        <img class="time_icon_left" src="{{block.settings.time_icon_left| image_url}}" alt="Number" />
                    </div>
                    <div class="timeline-content">
                        <h3 class="time-head-left">{{block.settings.title}}</h3>
                        <p class="time-desc-left">{{block.settings.desc}}</p>
                    </div>
                </div>                
                {% endcase %}
                {% endfor %}
            </div>

            <div class="mobile-showHide mob-time-wrp-parent" style="display:none;">
                {% for block in section.blocks %}
                    <div id="{{ forloop.index }}" class="tabcontent">
                        <h3>{{ block.settings.title }}</h3> 
                        <p>{{ block.settings.desc }}.</p> 
                    </div>
                {% endfor %}
            </div>
            
            <div class="mob-time-wrp" style="display:none;">
                <span class="tab-wrp"></span>
                  <div class="tab">
                    
                    <button class="tablinks" onclick="openIcon(event, '1')" id="defaultOpen"> 
                        {% render 'audit-timeline-svg-1' %}
                        {% render 'audit-timeline-inactivesvg1' %}  
                    </button>
                    <button class="tablinks" onclick="openIcon(event, '2')">
                        {% render 'audit-timeline-svg-2' %}
                        {% render 'audit-timeline-inactivesvg2' %}                      
                    </button>
                    <button class="tablinks" onclick="openIcon(event, '3')">
                        {% render 'audit-timeline-svg-3' %}
                        {% render 'audit-timeline-inactivesvg3' %}
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>

<script>
    function openIcon(evt, iconNum) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(iconNum).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>



{% schema %}
{
"name": "Timeline Block",
"settings": [
{
"id": "theading",
"label": "Heading",
"type": "text"
}

],
"blocks": [
    {
        "name": "Timeline-right Block",
        "type": "cardType-right",
        "settings": [
        {
            "type": "image_picker",
            "id": "time_icon_right",
            "label": "Number-Icon"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Timeline block Heading"
        },
        {
            "type": "text",
            "id": "desc",
            "label": "Timeline block description"
        }]
    },
    {
    "name": "Timeline-left Block",
    "type": "cardType-left",
    "settings": [
        {
            "type": "image_picker",
            "id": "time_icon_left",
            "label": "Number-Icon"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Timeline block Heading"
        },
        {
            "type": "text",
            "id": "desc",
            "label": "Timeline block description"
        }]
    }],
    "presets": [
    {
        "name": "TimelineBlock"
    }]
}
{% endschema %}