{{ 'client_project_status.css' | asset_url | stylesheet_tag }}

{% style %}
  .client_project_status .title {
    font-size: {{ section.settings.title_font_size }}px;
  }

  .client_project_status .table_filter a {
    font-size: {{ section.settings.table_filter_font_size }}px;
  }

  .client_project_status #projectTable tbody td {
    font-size: {{ section.settings.tbody_td_font_size }}px;
  }

  .client_project_status #projectTable tbody td span * {
    font-size: {{ section.settings.tbody_td_font_size }}px;
  }

  .client_project_status #projectTable tbody td .heading * {
    font-size: {{ section.settings.tbody_heading_text_font_size }}px;
  }

  .client_project_status #projectTable tbody td .heading a {
    font-size: {{ section.settings.tbody_heading_a_font_size }}px;
  }

  .client_project_status #projectTable thead tr th {
    font-size: {{ section.settings.thead_font_size }}px;
  }

 @media screen and (max-width:1024px){

  .client_project_status .title {
    font-size: {{ section.settings.title_font_size | times: 0.75 | round }}px;
  }

  .client_project_status .table_filter a {
    font-size: {{ section.settings.table_filter_font_size | times: 0.75 | round }}px;
  }

  .client_project_status #projectTable tbody td {
    font-size: {{ section.settings.tbody_td_font_size | times: 0.75 | round }}px;
  }

  .client_project_status #projectTable tbody td span * {
    font-size: {{ section.settings.tbody_td_font_size | times: 0.75 | round }}px;
  }

  .client_project_status #projectTable tbody td .heading * {
    font-size: {{ section.settings.tbody_heading_text_font_size | times: 0.75 | round }}px;
  }

  .client_project_status #projectTable tbody td .heading a {
    font-size: {{ section.settings.tbody_heading_a_font_size | times: 0.75 | round }}px;
  }

  .client_project_status #projectTable thead tr th {
    font-size: {{ section.settings.thead_font_size | times: 0.75 | round }}px;
  }
 }

 @media screen and (max-width:840px){

  .client_project_status .title {
    font-size: {{ section.settings.title_font_size | times: 0.5 | round }}px;
  }

  .client_project_status .table_filter a {
    font-size: {{ section.settings.table_filter_font_size | times: 0.5 | round }}px;
  }

  .client_project_status #projectTable tbody td {
    font-size: {{ section.settings.tbody_td_font_size | times: 0.5 | round }}px;
  }

  .client_project_status #projectTable tbody td span * {
    font-size: {{ section.settings.tbody_td_font_size | times: 0.5 | round }}px;
  }

  .client_project_status #projectTable tbody td .heading * {
    font-size: {{ section.settings.tbody_heading_text_font_size | times: 0.5 | round }}px;
  }

  .client_project_status #projectTable tbody td .heading a {
    font-size: {{ section.settings.tbody_heading_a_font_size | times: 0.5 | round }}px;
  }

  .client_project_status #projectTable thead tr th {
    font-size: {{ section.settings.thead_font_size | times: 0.5 | round }}px;
  }

 }

 @media screen and (max-width:560px){

.client_project_status .title {
  font-size: {{ section.settings.title_font_size | times: 0.35 | round }}px;
}

.client_project_status #projectTable tbody td {
    font-size: {{ section.settings.tbody_td_font_size | times: 0.4 | round }}px;
  }

  .client_project_status #projectTable tbody td span * {
    font-size: {{ section.settings.tbody_td_font_size | times: 0.35 | round }}px;
  }

  .client_project_status #projectTable tbody td .heading a {
    font-size: {{ section.settings.tbody_heading_a_font_size | times: 0.35 | round }}px;
  }

  .client_project_status #projectTable thead tr th {
    font-size: {{ section.settings.thead_font_size | times: 0.4 | round }}px;
  }
}

{% endstyle %}


  <div class="client_project_status">
    <h1 class="title">{{ section.settings.title }}</h1>
    <div class="table_filter">
      <a class=" active" href="#" onclick="filterTable('All')">All</a>
      <a class=" " href="#" onclick="filterTable('Yet to start')">Yet to start</a>
      <a class=" " href="#" onclick="filterTable('In Progress')">In Progress</a>
      <a class=" " href="#" onclick="filterTable('Completed')">Completed</a>
    </div>
    <div class="set-overflow">
      <table id="projectTable">
        <thead>
          <tr>
            <th>PROJECT NAME</th>
            <th>TEAM</th>
            <th>PHASE</th>
            <th>DAYS LEFT</th>
            <th>PROJECT DEADLINE</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody id="Tablebody">
          {% for item in section.blocks %}
            {% render 'client_project_status_snip', item: item %}
          {% endfor %}
        </tbody>
      </table>
      
  </div>
</div>

<script>
  
  window.addEventListener('load', function () {
    var menu = document.getElementsByClassName("table_filter");
    var a = menu[0].getElementsByTagName("a");
    for (var i = 0; i < a.length; i++) {
      a[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }

    filterTable("All");
  });

  function filterTable(filter) {
    // Variables
    let table, tbody, rows, cells, status;
    tbody = document.getElementById("Tablebody");
    rows = tbody.getElementsByTagName("tr");

    // Loops through rows and hides those with countries that don't match the filter
    for (let row of rows) { // `for...of` loops through the NodeList
      cells = row.getElementsByTagName("td");
      status = cells[5] || null; // gets the 2nd `td` or nothing  
      // if the filter is set to 'All', or this is the header row, or 2nd `td` text matches filter
      if (filter === "All" || !status || (filter === status.textContent)) {
        row.style.display = ""; // shows this row
      }
      else {
        row.style.display = "none"; // hides this row
      }
    }

    for (let row of rows) { // `for...of` loops through the NodeList
      cells = row.getElementsByTagName("td");
      var col4 = cells[4];
      var daysleft = cells[3];
      

      var date = col4.textContent.toString();
      const p = date.split("/");

      var deadline = new Date([p[2],p[1],p[0] ].join("-"));
      var present_date = new Date();

      // To calculate the time difference of two dates
      var Difference_In_Time = deadline.getTime() - present_date.getTime();

      // To calculate the no. of days between two dates
      var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
      
      if(Difference_In_Days <= 0) 
        daysleft.innerHTML = "deadline passed";
      else
        daysleft.innerHTML = Math.round(Difference_In_Days) + " days left";
        
        {% comment %} 
      //To display the final no. of days (result)
      console.log("Total number of days between dates  <br>"
                + date1 + "<br> and <br>" 
                + date2 + " is: <br> " 
                + Difference_In_Days); {% endcomment %}
    }
  }

</script>

{% schema %}
{
  "name": "client_project_status",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "ShopTrade Client Project Status"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "title font size",
      "default": 52
    },
    {
      "type": "range",
      "id": "table_filter_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "table filter Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "thead_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "column heading Font size",
      "default": 14 
    },  
    {
      "type": "range",
      "id": "tbody_heading_text_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Project Name Font size",
      "default": 20
    }, 
    {
      "type": "range",
      "id": "tbody_heading_a_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Project link Font size",
      "default": 14
    }, 
    {
      "type": "range",
      "id": "tbody_td_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "table data font size",
      "default": 18
    }   
  ],
  "blocks": [
    {
      "name": "project",
      "type": "project",
      "settings": [  
        {
          "type": "text",
          "id": "PROJECT_NAME",
          "label": "Project Name",
          "default": "PROJECT_NAME"
        },       
        {
          "type": "url",
          "id": "More_Detail",
          "label": "More Detail link"
        },              
        {
          "type": "textarea",
          "id": "TEAM",
          "label": "TEAM"
        },
        {
          "type": "select",
          "id": "PHASE",
          "label": "PHASE",
          "options": [
            {
              "value": "Design",
              "label": "Design"
            },
            {
              "value": "Development",
              "label": "Development"
            }
          ],
          "default": "Design"
        },
        {
          "type": "text",
          "id": "PROJECT_DEADLINE",
          "label": "PROJECT DEADLINE",
          "default": "30/07/2023"
        },
        {
          "type": "select",
          "id": "STATUS",
          "label": "STATUS",
          "options": [
            {
              "value": "Yet to start",
              "label": "Yet to start"
            },
            {
              "value": "In Progress",
              "label": "In Progress"
            },
            {
              "value": "Completed",
              "label": "Completed"
            }
          ],
          "default": "Yet to start"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "client_project_status"
    }
  ]
}
{% endschema %}
