{%liquid 
  assign collections = section.settings.collections
%}

<section class="collection-showcase__wrapper container">
  <div class="collection-title__body">
    <div>
      {% if section.settings.title != blank %}
        <h3 class="CS-title">
          {{ section.settings.title }}
          {% render 'arrow-up' %}
        </h3>
      {% endif %}
      {% if section.settings.description != blank %}
        <div class="CS-description CS-desktop">
          {{ section.settings.description }}
        </div>
      {% endif %}
    </div>

    {% if section.settings.button_label != blank %}
      <a href="{{ section.settings.button_url }}">
        <button type="button" class="CS-button">{{ section.settings.button_label }}</button>
      </a>
    {% endif %}
  </div>

  {% if section.settings.description != blank %}
    <div class="CS-description CS-mobile">
      {{ section.settings.description }}
    </div>
  {% endif %}

  <div class="ET-product-container CS-collection__wrapper">
    {% for product in collections.products %}
      <a href="{{ product.url }}" class="ET-product">
        <div class="ET-product-img">
          {% if product.metafields.custom.delivery_imagies.value.delivery_img %}
            <img src="{{ product.metafields.custom.delivery_imagies.value.delivery_img | img_url: 'master'}}" loading="lazy" alt="product image">
          {% else %}
            <img src="{{ product.featured_image | img_url: 'master'}}" loading="lazy" alt="product image">
          {% endif %}
        </div>
        <div class="ET-product-text">
          <div class="ET-product-title">
            {% if product.metafields.custom.delivery_imagies.value.delivery_heading %}
              <h4>{{ product.metafields.custom.delivery_imagies.value.delivery_heading }}</h4>
            {% else %}
              <h4>{{ product.title }}</h4>
            {% endif %}
          </div>
          <div class="ET-delivery-info CS-end">
            <span>
              <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/clock.png?v=1690262888" loading="lazy" alt="clock-icon">
            </span>
            <span class="delivery_duration">
              {{ product.metafields.custom.delivery.value }}
            </span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>






{% schema %}

{
  "name": "Collection Showcase",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Add a title"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Add a description</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Text",
      "default": "<p>Add button label</p>"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Add Link"
    },
    {
      "type": "collection",
      "id": "collections",
      "label": "Add Collection"
    }
  ],
  "presets": [
    {
      "name": "Collection Showcase"
    }
  ]
}
{% endschema %}
