{{ 'customer_journey.css' | asset_url | stylesheet_tag }}

{% style %}
    @media screen and (min-width: 1200px){
        .cus_jr{
            margin-top: {{ section.settings.section_margin_top }}px;
            margin-bottom: {{ section.settings.section_margin_bottom }}px;"
        }
        .cus_jr_parent{
            background-color: {{ section.settings.section_bgColor }};
            color: {{ section.settings.section_fontColor }};
        }
    }
    @media screen and (max-width: 1199px){
        .cus_jr{
            background-color: {{ section.settings.section_bgColor }};
            color: {{ section.settings.section_fontColor }};
        }
    }
{% endstyle %}

<div class="cus_jr">
    <div class="container">
        <div class="cus_jr_parent">
            <div class="cus_jr_child">
                <div class="cus_jr_child_heading">
                    <p>{{ section.settings.section_title }}</p>
                </div>

                <div class="cus_jr_child_text">
                    <p>{{ section.settings.main_section_description }}</p>
                </div>
            </div>

            <div class="content_containerParent">
                {% for block in section.blocks %}
                    <div class="content_container">
                        {{ block.settings.svg_icon }}
                        <span class="cc_heading">{{ block.settings.block_heading }}</span>
                        <span class="cc_description">{{ block.settings.block_description }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="cus_ctaButton" style="background-color: {{ section.settings.button_bgColor }};">
                    <a href="{{ section.settings.cta_redirect }}" style="color:{{ section.settings.button_textColor }}">{{ section.settings.cta_button_text }}</a>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Customer Journey",
        "settings": [
            {
                "type": "textarea",
                "id": "section_title",
                "label": "Section Title",
                "default": "Reimagining Customer Journey"
            },
            {
                "type": "text",
                "id": "main_section_description",
                "label": "Main Section Descriptiojn",
                "default": "Our high-value Audit Reports serve as beacons of insight, delivering a swift and refreshing viewpoint of your customer journey. This is more than just an audit; it's your competitive edge, your digital journey reimagined."
            },
            {
                "type": "color",
                "id": "section_bgColor",
                "label": "Section Background Color",
                "default": "#3A4ED4"
            },
            {
                "type": "color",
                "id": "section_fontColor",
                "label": "Section Text Color",
                "default": "#FFF"
            },
            {
                "type": "text",
                "id": "cta_button_text",
                "label": "Button"
            },
            {
                "type": "url",
                "id": "cta_redirect",
                "label": "Button Redirect"
            },
            {
                "type": "color",
                "id": "button_bgColor",
                "label": "Button Background Color",
                "default": "#FF7121"
            },
            {
                "type": "color",
                "id": "button_textColor",
                "label": "Button Text Color",
                "default": "#FFF"
            },
            {
                "type": "range",
                "id": "section_margin_top",
                "min": 0,
                "max": 200, 
                "step": 5,
                "unit": "px",
                "label": "Section Desktop Margin",
                "default": 55
            },
            {
                "type": "range",
                "id": "section_margin_bottom",
                "min": 0,
                "max": 200, 
                "step": 5,
                "unit": "px",
                "label": "Section Mobile Margin",
                "default": 80
            }
        ],
        "blocks": [
            {
                "type": "Block",
                "name": "Block",
                "settings": [
                    {
                        "type":"html",
                        "id":"svg_icon",
                        "label":"Custom SVG Code"
                    },
                    {
                        "type": "text",
                        "id": "block_heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "block_description",
                        "label": "Description"
                    }
                ]
            }
        ]
    }
{% endschema %}