<div class="hp_content_main">
  <div class="container">
    <div class="Hour_contain">
      <div class="hour_pack_text">
        <div class="hp_heading">
          {% if section.settings.hp_heading %}
            <h2>{{ section.settings.hp_heading }}</h2>
            <span>
              {% render 'arrow-icon' %}
            </span>
          {% endif %}
        </div>
        <div class="hp_para">
          {{ section.settings.hp_para }}
        </div>
        <div class="hp_button">
          {% if section.settings.hp_btn_url %}
            <a href="{{ section.settings.hp_btn_url }}"> {{ section.settings.hp_btn_txt }}</a>
          {% endif %}
        </div>
      </div>
      <div class="hp_points">
        {% for item in section.blocks %}
          <div class="hp_point_lines">
            {% if item.settings.icon %}
              <span> <img src=" {{ item.settings.icon  | img_url: 'master' }}" loading="lazy"> </span>
            {% endif %}
            <h6>{{ item.settings.hp_lines }}</h6>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hour pack",
  "settings": [
    {
      "type": "text",
      "id": "hp_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "hp_para",
      "label": "Para"
    },
    {
      "type": "text",
      "id": "hp_btn_txt",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "hp_btn_url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "name": "Points",
      "type": "points",
      "settings": [
        {
          "type": "text",
          "id": "hp_lines",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hour pack"
    }
  ]
}
{% endschema %}
