<footer class="shopify-footer">
  <ul class="shopify-footer__Head">
    {%- for link in section.settings.footerLink.links -%}
      <li class="shopify-footer__links">
        <a class="shopify-footer__link" href="">
          {{link.title}}
        </a>
      </li>
    {%- endfor -%}

  </ul>
  <div class="shopify-footer__Content">
    <div class="shopify-footer__block flex-1">
      <h5 class="fnt-20 m-0 text-upper ">Let’s Work Together</h5>
      <ul class="shopify-footer__blockList">

        {%- assign work = section.blocks | where: 'type',"work" -%}
        {%- for item in work -%}
          <li class="shopify-footer__blockitem">
            <a href="{{ item.settings.togetherlink }}  "  style="text-decoration:none" >
            <div class="v-center">
              <img src="{{ item.settings.workImage | image_url }}" class="shopify-footer__blockImg">
              <p class="shopify-footer__blockText">{{item.settings.workText }}
            </div>
            </p>
          </a>
          </li>
        {%- endfor -%}

      </ul>

    </div>
    <div class="shopify-footer__block flex-1">
      <h5 class="fnt-20 m-0 text-upper" >Office</h5>
      <ul class="shopify-footer__blockList">

        {%- assign office = section.blocks | where: 'type',"office" -%}
        {%- for item in office -%}
          <li class="shopify-footer__blockitem">
            <div class="v-center">
              <img src="{{ item.settings.officeImage | image_url }}" class="shopify-footer__blockImg">
            </div>
            <p class="shopify-footer__blockText">{{ item.settings.officeText }}
            </p>
          </li>
        {%- endfor -%}

      </ul>

    </div>
    <div class="flex-1">
      <div class="social-icons">
        <h5 class="fnt-20 m-0 text-upper ">Socials</h5>
        <div class="social-icons__wrp">
          {%- assign social = section.blocks | where: 'type' , "social" -%}
          {%- for item in social -%}
            <a href="{{ item.socailLink }}">
              <img src="{{ item.settings.socialIcons | image_url }}">
            </a>

          {%- endfor -%}
        </div>
      </div>
      <div class="rating">
        <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script> <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="45" data-nofollow="true" data-expandifr="true" data-scale="100" data-clutchcompany-id="1012274"></div>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="footerBottom__links">

      {%- for item in section.settings.footerBottomLink.links -%}
        <a href="{{ item.url }}" class="fnt-16">
          {{ item.title }}
        </a>
      {%- endfor -%}

      {%- comment -%}
        <a href="" class="fnt-16">
        Privacy Policy
        </a>
        <a href="" class="fnt-16">
        Site Map
        </a>
      {%- endcomment -%}
    </div>
    <div class="footerBottom__copyright">
      <P class="fnt-16 m-0">
        {{ shop.name }}
        , LLC. All rights reserved

      </P>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "id": "footerLink",
        "label": "footer links",
        "type": "link_list"
      }, {
        "id": "footerBottomLink",
        "label": "footer bottom Link",
        "type": "link_list"
      }


    ],
    "blocks": [
      {
        "name": "work together",
        "type": "work",
        "settings": [
          {
            "id": "workImage",
            "label": "work item",
            "type": "image_picker"
          }, {
            "id": "workText",
            "label": "work text",
            "type": "text"
          },{
            "id":"togetherlink",
            "label":"link",
            "type":"url"
          }
        ]
      }, {
        "name": "office",
        "type": "office",
        "settings": [
          {
            "id": "officeImage",
            "label": "office item",
            "type": "image_picker"
          }, {
            "id": "officeText",
            "label": "office text",
            "type": "text"
          }
        ]
      }, {
        "name": "social icons",
        "type": "social",
        "settings": [
          {
            "id": "socialIcons",
            "label": "social icons",
            "type": "image_picker"
          },{
            "id":"socailLink",
            "label":"link",
            "type":"url"
          }
        ]
      }
    ]
  }
{% endschema %}