<footer class="shopify-footer">
  <ul class="shopify-footer__Head">
    {%- for link in section.settings.footerLink.links -%}
      <li class="shopify-footer__links">
        <a class="shopify-footer__link" href="">
          {{link.title}}
        </a>
      </li>
    {%- endfor -%}

  </ul>
  <div class="shopify-footer__Content">
    <div class="shopify-footer__block">
      <h5 class="fnt-20 m-0">Let’s Work Together</h5>
      <ul class="shopify-footer__blockList">

        {%- assign work = section.blocks | where: 'type',"work" -%}
        {%- for item in work -%}
          <li class="shopify-footer__blockitem">
            <div class="v-center">
              <img src="{{ item.settings.workImage | image_url }}" class="shopify-footer__blockImg">
            </div>
            <p class="shopify-footer__blockText">{{item.settings.workText }}
            </p>
          </li>
        {%- endfor -%}

      </ul>

    </div>
    <div class="shopify-footer__block">
      <h5 class="fnt-20 m-0">Office</h5>
      <ul class="shopify-footer__blockList">

        {%- assign office = section.blocks | where: 'type',"office" -%}
        {%- for item in office -%}
          <li class="shopify-footer__blockitem">
            <div class="v-center">
              <img src="{{ item.settings.officeImage | image_url }}" class="shopify-footer__blockImg">
            </div>
            <p class="shopify-footer__blockText">{{item.settings.officeText }}
            </p>
          </li>
        {%- endfor -%}

      </ul>

    </div>
    <div class="">
      <div class="social-icons">
        <h5 class="fnt-20 m-0">Socials</h5>
        <div class="social-icons__wrp">
          {%- assign social = section.blocks | where: 'type',"social" -%}
          {%- for item in social -%}
            <a href="">
              <img src="{{ item.settings.socialIcons | image_url }}">
            </a>

          {%- endfor -%}
        </div>
      </div>
      <div class="rating">
        <img src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/rating.png?v=1665678972"/>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="footerBottom__links">
      <a href="" class="fnt-16">
        Terms of Condition
      </a>
      <a href="" class="fnt-16">
        Privacy Policy
      </a>
      <a href="" class="fnt-16">
        Site Map
      </a>
    </div>
    <div class="footerBottom__copyright">
      <P class="fnt-16 m-0">
        2022 Shop Trade , LLC. All rights reserved

      </P>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "id": "footerLink",
        "label": "footer links",
        "type": "link_list"
      }


    ],
    "blocks": [
      {
        "name": "work together",
        "type": "work",
        "settings": [
          {
            "id": "workImage",
            "label": "work item",
            "type": "image_picker"
          }, {
            "id": "workText",
            "label": "work text",
            "type": "text"
          }
        ]
      }, {
        "name": "office",
        "type": "office",
        "settings": [
          {
            "id": "officeImage",
            "label": "office item",
            "type": "image_picker"
          }, {
            "id": "officeText",
            "label": "office text",
            "type": "text"
          }
        ]
      }, {
        "name": "social icons",
        "type": "social",
        "settings": [
          {
            "id": "socialIcons",
            "label": "social icons",
            "type": "image_picker"
          }
        ]
      }
    ]
  }
{% endschema %}}}}}}}}}}}}}