{% style %}
  html{
    scroll-padding-top: 7rem;
  }
  
  .grid_img_container_main--{{ section.id }}{ 
    padding-bottom: {{ section.settings.padding_btm_desk }}px;
  }
  @media(max-width: 767px){
    .grid_img_container_main--{{ section.id }}{
    padding-bottom: {{ section.settings.padding_btm_mob }}px;
    }
  }
  {% for block in section.blocks %}
    {% if block.settings.fixed_height %}
     .gib_heading{{ block.id }}{
      max-height: 0;
     }
    {% endif %}
    {% if block.settings.enble_video %}
     #image2{
      filter: brightness(60%);
     }
    {% endif %}
  {% endfor %}
{% endstyle %}

{% for block in section.blocks %}
  {% assign loopValue = forloop.index %}
{% endfor %}
<div class="grid_img_container_main grid_img_container_main--{{ section.id }}">
<div class="container">
  <div class="grid_img_container" >
    <div class="gi_blocks_main {% if loopValue == 6 %} GridOne{% elsif loopValue == 5 %}GridTwo{% elsif loopValue == 2 %}Gridthree{% elsif loopValue == 4 %}Gridfour {% elsif loopValue == 3 %} GridFive {% elsif loopValue > 6 %} Gridmany {% endif %} ">
      {% for block in section.blocks %}
        {% assign items = block.settings %}
        {% assign valueLopp = forloop.index %}
        {% if items.gib_img or items.external_video_url %}
          <div class="gi_blocks gi_blocks{{ forloop.index }}" id="{% if loopValue == 6 %}girdOne{{ valueLopp }}{{ block.id }}{% elsif loopValue == 5 %}GridTwo{{ valueLopp }}{{ block.id }}{% elsif loopValue == 2 %}Gridthree{{ valueLopp }}{{ block.id }}{% elsif loopValue == 4 %}Gridfour{{ valueLopp }}{{ block.id }}{% elsif loopValue == 3 %}Gridfive{{ valueLopp }}{{ block.id }}{% endif %}">
            <div class="gi_blocks_child  {% if items.enble_video == false %} gi_blocks_wrapper {% endif %}">
              <a class="{% if items.enble_video == false %} gi_blocks_wrapper {% endif %}" data-contacTattribute="{{ items.show_contactpopUP }}" {% if items.enble_video == false and items.show_contactpopUP == false %} href="{{ block.settings.box_url }}" {% endif %} >
                <div class="gib_block_set">
                {% if items.enble_video %}
                  <a {% if items.show_contactpopUP == false %}href = "{{ block.settings.box_url }}" {% endif %} data-contacTattribute="{{ items.show_contactpopUP }}">             
                    <div class="gib_heading gib_heading{{ block.id }}">
                      <h5>{{ items.title }}</h5>
                    </div>
                    <div class="gib_para">
                      {{ items.gib_para }}
                    </div> 
                  </a>
                {% endif %}
              {% if items.enble_video == false %}           
                <div class="gib_heading gib_heading{{ block.id }}">
                  <h5>{{ items.title }}</h5>
                </div>
                <div class="gib_para">
                  {{ items.gib_para }}
                </div>
              {% endif %}
                {% if items.enble_video == false %}
                  {% if items.gib_img %}                    
                    <div class="gib_img gib_img_{{ block.id }}_{{ forloop.index }}">
                      <img src="{{ items.gib_img | img_url: 'master' }}" loading="lazy" alt="gridImg">
                    </div>
                  {% endif %}
                {% else %}
                  <div class="gib-video__wrp">
                    <div class="gib-video__vedioWrp">
                      <div class="gib-vid__container">
                        <div
                          class="gib_video_palyer"
                          data-player-type="{% if block.settings.external_video_url contains   'vimeo' %}vimeo{% else %}youtube{% endif %}"
                          data-player-url="{{block.settings.external_video_url }}"
                        >
                          <div class="preview" data-js="preview">
                            <img
                              id="image2"
                              class="vedio__thumbnail"
                              src="{{ items.gib_img | img_url :'master' }}"
                              loading="lazy"
                            >
                            {% if block.settings.external_video_url != null %}
                              <span class="play-icon arrow-btn" id ="service_play_icon">
                                <img
                                  id="image1"
                                  src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/Play_Circle.svg?v=1692360919"
                                  loading="lazy"
                                >
                              </span>
                            {% endif %}
                          </div>
                          <div class="aboutUsVideoMY">
                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gib_popup">
                    <div class="gib_popup-content">
                        <span class="gib_close-popup"> &#x2715; </span>
                        <iframe  id="videoFrame"  src="" frameborder="0" allowfullscreen allow="autoplay"  autoplay ></iframe>
                    </div>
                 </div>
                {% endif %}
              </div>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% for block in section.blocks %}
{% endfor %}
{% schema %}
{
  "name": "Image gallery",
  "settings": [
    {
      "type": "range",
      "id": "padding_btm_desk",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font bottom dekstop",
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_btm_mob",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font bottom mobile",
      "default": 1
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "Image_blocks",
      "name": "grid blocks",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_contactpopUP",
          "label": "Show contactUS popUP insted of URL",
          "default": false
        },        
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },{
          "type":"url",
          "id":"box_url",
          "label":"URL"
        },
        {
          "type": "richtext",
          "id": "gib_para",
          "label": "Paragraph"
        },
        {
          "type": "checkbox",
          "id": "enble_video",
          "label": "Show video instead of image",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "gib_img",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "fixed_height",
          "label": "Adjust Text height",
          "default": false
        },       
        {
          "type": "video_url",
          "id": "external_video_url",
          "accept": ["vimeo", "youtube"],
          "label": "Video URL",
          "default": "https://player.vimeo.com/video/794041269?autoplay=1",
          "info": "For autoplay add ?autoplay=1 to the end of the video" 
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const elements = document.querySelectorAll("a[data-contacTattribute='true']");
      elements.forEach(element => {
        element.addEventListener('click', function () {
          const contactBtnDetails = document.getElementById('contact-btn-details');
          if (contactBtnDetails) {
            contactBtnDetails.click();
          }
        });
      });
      
    const playButtons = document.querySelectorAll('#service_play_icon');
    const popup = document.querySelector('.gib_popup');
    const closePopup = document.querySelector('.gib_close-popup');
    const videoPlayer = document.querySelector('.gib_video_palyer');
    const videoFrame = document.getElementById('videoFrame');
    const videoDiv = document.querySelector('.aboutUsVideoMY');
    const serviceBody = document.querySelector('body');

  
    playButtons.forEach(playButton => {
        playButton.addEventListener('click', () => {
            const videoUrl = videoPlayer.getAttribute('data-player-url');
            videoFrame.src = videoUrl;
            popup.style.display = 'block';
            videoDiv.setAttribute('data-hidden', 'true');
            serviceBody.style.overflow = "hidden";
        });
    });
    closePopup.addEventListener('click', () => {
      videoFrame.src = '';
     popup.style.display = 'none';
     serviceBody.style.overflow = "auto";
 });

 popup.addEventListener('click', () => {
        videoFrame.src = '';
      popup.style.display = 'none';
      serviceBody.style.overflow = "auto";
      });

});

</script>

