<header class="shoptrade">
  <div class="container">
    <div class="header-container">
      <div class="v-center nav-container">
      <a class="navbar-brand order-2" href="/">
        {% render 'mobile-logo' %}
      </a>
      <button class="d-flex js-hamberger" type="button">
       <span class="navbar-toggler-text">Menu</span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="shoptrade__menu-wrp desktop_only">
        <ul class="navbar-nav shoptrade__nav-list d-flex">
          {%- for link in section.settings.menu.links -%}
            <li class="nav-item" {% if link.active %}aria-current="page"{% endif %}>
              <a class="nav-link" href="{{ link.url }}" >
                {{ link.title }}
              </a>
              {% comment %} {%- if forloop.last -%}
                <a class="nav-link contact-btn-details" href="#" >
                  {{ link.title }}
                </a>
              {%- else -%}
                <a class="nav-link" href="{{ link.url }}" >
                  {{ link.title }}
                </a>
              {%- endif -%} {% endcomment %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="navbarSupportedContent">      
        <div class="shoptrade__menu-wrp mobile_only">
          <ul class="navbar-nav shoptrade__nav-list d-flex">
            {%- for link in section.settings.menu.links -%}
              <li class="nav-item" {% if link.active %}aria-current="page"{% endif %}>
                {%- if forloop.last -%}
                  <a class="nav-link contact-btn-details" href="#" >
                    {{ link.title }}
                  </a>
                {%- else -%}
                  <a class="nav-link" href="{{ link.url }}" >
                    {{ link.title }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>    
        <div class="header__button-wrapper">
          {%- if section.settings.button_1_url -%}
            <a class="header__button header__button_secondary" href="{{section.settings.button_1_url}}">{{section.settings.button_1_text}}</a>
          {%- endif -%}
          {% if section.settings.button_2_text != blank and section.settings.button_2_url != blank %}
            <a class="btn-contact contact-btn-details header__button header__button--primary" id="contact-btn-details" href="{{section.settings.button_2_url}}" >{{section.settings.button_2_text}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </div>
</header>
{% schema %}

  {
    "name": "Header",
    "settings": [
      {
        "id": "logo-svg",
        "label": "Logo",
        "type": "url"
      },{
        "id": "logombile-svg",
        "label": "Logo mobile",
        "type": "url"
      }, 
      
      {
        "id": "menu",
        "type": "link_list",
        "label": "Main menu"
      },
      {
        "id": "button_1_text",
        "type": "text",
        "label": "Button-1 Text"
      },
      {
        "id": "button_1_url",
        "type": "url",
        "label": "Button-1 Url"
      },
      {
        "id": "button_2_text",
        "type": "text",
        "label": "Button-2 Text"
      },
      {
        "id": "button_2_url",
        "type": "url",
        "label": "Button-2 Url"
      }
    ]
  }
{% endschema %}