<header class="shoptrade">
  <div class="">
    <div class="header-container">
      <div class="v-center">
      <a class="navbar-brand order-2" href="/">
        <img class="only-desktop" src="{{ section.settings.logo-svg  }}" alt="logo">
        <img class="only-mobile" src="{{ section.settings.logombile-svg }}" alt="logo">
      </a>
      <button class="d-flex p-0 js-hamberger" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbarSupportedContent">
     
        <div class="shoptrade__menu-wrp">

          <ul class="navbar-nav shoptrade__nav-list d-flex  ">
            {%- for link in section.settings.menu.links -%}
              <li class="nav-item" {% if link.active %}aria-current="page"{% endif %}>
                <a class="nav-link" href="{{ link.url }}" >{{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>


        </div>
      </div>
    </div>
      <div class="contact-btn">
        {%- for link in section.settings.menu.links -%}
          {%- if forloop.last -%}

            <a class="nav-link btn-contact" href="{{ link.url }}">{{ link.title }}
            </a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</header>

{% schema %}

  {
    "name": "Header",
    "settings": [
      {
        "id": "logo-svg",
        "label": "Logo",
        "type": "url"
      },{
        "id": "logombile-svg",
        "label": "Logo mobile",
        "type": "url"
      }, 
      
      {
        "id": "menu",
        "type": "link_list",
        "label": "Main menu"
      }
    ]
  }
{% endschema %}