<div class="services-block">
  <div class="container">
    <div class="services-block__wrapper">
      {% if section.settings.heading %}
        <h1 class="services-block__heading">{{section.settings.heading}}</h1>
      {% endif %}
      <div class="services-block__list">
        {% if section.settings.services-block_heading %}
          <h4 class="services-block__subheading">{{section.settings.services-block_heading}}</h4>
        {% endif %}
        <div class="services-block__items">
          {% for block in section.blocks %}
          <div class="services-block__item">{{block.settings.service_text}}</div>
          {% endfor %}
        </div>
        {% if section.settings.button_text and section.settings.button_url %}
          <a href="{{section.settings.button_url}}" class="button button--secondary">{{section.settings.button_text}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %} 
 {
   "name": "services-block Section", 
   "settings": [
      {
        "id": "heading",
        "type": "text", 
        "label": "section Heading"
      }, 
      {
        "id": "services-block_heading", 
        "type": "text",
        "label": "services-block Heading"
      }, 
      {
        "type": "text",
        "id": "button_text", 
        "label": "CTA text" 
      }, 
      {
        "type": "url", 
         "id": "button_url", 
         "label": "CTA url"
      }
   ], 
   "blocks": [
    {
      "name": "service", 
      "type": "block",
      "settings": [
        {
           "type": "text",
           "id": "service_text",
           "label": "Enter Service Title"
        }
      ]
    }
   ],
   "presets" : [
    {
     "name": "Service Block"
    }
   ]

 }
{% endschema %}