{% liquid
assign sliderClass = 'js-marque-slider'

if section.settings.reverse
assign sliderClass = 'js-marque-slider--reverse'
endif
%}

{% if section.blocks.size %}
<div class="brand-marquee" id="brand-marquee--{{ section.id }}">
    <div class="swiper-container {{ sliderClass }}">
        <div class="swiper-wrapper">
            {% for i in (1..10) %}
            {% for item in section.blocks %}
            <div class="swiper-slide brand-marquee__block">
                <div class="brand-marquee__icon">
                    {% if item.settings.icon != blank %}
                    <img src="{{ item.settings.icon | image_url }}">
                    {% elsif item.settings.icon == blank and item.settings.mar_text != blank%}
                    <div class="marquee-text">{{item.settings.mar_text}}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endfor %} 
        </div>
    </div>
</div>
{% endif %}

{% style %}
#brand-marquee--{{ section.id }} {
background: {{ section.settings.background_color }}
}
{% endstyle %}

{% schema %}
{
"name": "Marquee Custom",
"settings": [
{
"id": "reverse",
"label": "Reverse flow ?" ,
"type": "checkbox",
"default": false
},
{
"id": "background_color",
"label": "Background color" ,
"type": "color",
"default": "transparent"
}
],
"blocks": [
   {
    "name":"Brands",
    "type":"brands",
    "settings": [
                    {
                    "id":"icon",
                    "label":"icon",
                    "type":"image_picker"
                    },
                    {
                    "id":"mar_text",
                    "label":"text",
                    "type":"text"
                    }
                ]
    }
],
"presets": [
{
"name": "Marquee Custom"
}
]
}
{% endschema %}