{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<section class="homeBanner">

  {% if section.settings.mediaType == "video" %}
    <div class="video-container">
      {% comment %} <iframe width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
    
      {% comment %} <video autoplay muted loop playsinline preload="metadata">
        <source src="{{ section.settings.vedioUrl.sources[0].url }}" type="video/mp4">
      </video> {% endcomment %}
      <div class="only-desktop js-desktop-video">
        <img class="js-video-thumbnail" src="{{ section.settings.desktopImg | image_url }}">
      {{ section.settings.vedioUrl | video_tag: autoplay: true, loop: true, muted: true , width: '100%' , height : '100%' }}
      </div>
      <div class="only-mobile js-desktop-video">
        <img class="js-video-thumbnail" src="{{ section.settings.mobileImg | image_url }}">

      {{ section.settings.vedioUrlMobile | video_tag: autoplay: true, loop: true, muted: true , width: '100%' , height : '100%' }}
      </div>
    </div>
    
  {% endif %}
  <div class="container ">
    <div class="homeBanner__wrp">
      <div class="v-center">
        <div class="homeBanner__content">
          <p class="homeBanner__subText">
         
            {{ section.settings.bannerSubText }}
          </p>
          <h1 class="h1">
            {{ section.settings.bannerHead }}
          </h1>
          <a href="{{ section.settings.bannerBtnlink }}" class="btn btn--orange"> {{ section.settings.bannerBtn }} </a>
        </div>
      </div>
      {% if section.settings.mediaType == "image" %}
      <div class="homeBanner__imgWrp">
        <div class="v-center">
          <div class="homeBanner__imgContainer">
           
              <img class="homeBanner__img" src="{{section.settings.imagebanner | image_url}}" alt="banner image"/>
              
          </div>
        </div>
      </div>
            
    {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "bannerHead",
        "label": "Banner header text",
        "default": "Enterprise level solutions tailored for your business"
      }, {
        "type": "text",
        "id": "bannerSubText",
        "default": "Global shopify plus global expert agency",
        "label": "Banner sub text"
      },{
        "type":"text",
        "label":"Button text",
        "id":"bannerBtn"
      },{
        "type":"url",
        "label":"link",
        "id":"bannerBtnlink"
      },{
        "id":"mediaType",
        "label":"Media Type",
        "type":"select",
        "options":[{
          "value":"image",
          "label":"Image"

        },{
          "value":"video",
          "label":"Video"

        }
        ]
      }, {
        "type": "image_picker",
        "id": "imagebanner",
        "label": "Banner image"

// "default": "https://cdn.shopify.com/s/files/1/0662/5122/7356/files/banner.png?v=1665395460"
      },{

        "id":"desktopImg",
        "label":"Desktop thumnail Image",
        "type":"image_picker"
      },
      
      {
        "id": "vedioUrl",
        "label": "Vedio link",
        "type": "video"
        
      },
      {

        "id":"mobileImg",
        "label":"Mobile thumnail Image",
        "type":"image_picker"
      },
      {
        "id": "vedioUrlMobile",
        "label": "Vedio link for mobile",
        "type": "video"
        
      }

    ]


  }
{% endschema %}
