{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<section class="homeBanner">

  {% if section.settings.mediaType == "video" %}
    <div class="video-container">
      {% comment %} <iframe width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
    
        {%- if section.settings.vedioUrl.type == 'youtube' -%}
          <iframe  width="100%" height="100%" src="https://www.youtube.com/embed/{{ section.settings.vedioUrl.id }}?enablejsapi=1&autoplay=1&mute=1&controls=0&rel=0&autohide=1&showinfo=0&wmode=transparent" class="js-youtube"  title="{{ section.settings.description | escape }}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {%- else -%}
          <iframe width="100%" height="100%" src="https://player.vimeo.com/video/{{ section.settings.vedioUrl.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- endif -%}
  
    </div>
    
  {% endif %}
  <div class="container ">
    <div class="homeBanner__wrp">
      <div class="v-center">
        <div class="homeBanner__content">
          <p class="homeBanner__subText">
         
            {{ section.settings.bannerSubText }}
          </p>
          <h1 class="h1">
            {{ section.settings.bannerHead }}
          </h1>
          <a href="{{ section.settings.bannerBtnlink }}" class="btn btn--orange"> {{ section.settings.bannerBtn }} </a>
        </div>
      </div>
      {% if section.settings.mediaType == "image" %}
      <div class="homeBanner__imgWrp">
        <div class="v-center">
          <div class="homeBanner__imgContainer">
           
              <img class="homeBanner__img" src="{{section.settings.imagebanner | image_url}}" alt="banner image"/>
              
          </div>
        </div>
      </div>
            
    {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "bannerHead",
        "label": "Banner header text",
        "default": "Enterprise level solutions tailored for your business"
      }, {
        "type": "text",
        "id": "bannerSubText",
        "default": "Global shopify plus global expert agency",
        "label": "Banner sub text"
      },{
        "type":"text",
        "label":"Button text",
        "id":"bannerBtn"
      },{
        "type":"url",
        "label":"link",
        "id":"bannerBtnlink"
      },{
        "id":"mediaType",
        "label":"Media Type",
        "type":"select",
        "options":[{
          "value":"image",
          "label":"Image"

        },{
          "value":"video",
          "label":"Video"

        }
        ]
      }, {
        "type": "image_picker",
        "id": "imagebanner",
        "label": "Banner image"

// "default": "https://cdn.shopify.com/s/files/1/0662/5122/7356/files/banner.png?v=1665395460"
      },{
        "id": "vedioUrl",
        "label": "Vedio link",
        "type": "video_url",
        "accept": [
          "youtube",
          "vimeo"
        ]
      }

    ]


  }
{% endschema %}
