{% style %}
    .lets-talk-store-section {
        flex-direction: {{ section.settings.adj-img-txt }};
    }
    .lets-talk-store-heading{
      font-size: {{ section.settings.heading-font-size }}px;
    }
    .lets-talk-store-para{
      font-size: {{ section.settings.para-font-size }}px;
    }
    .lets-talk-btn{
      font-size: {{ section.settings.btn-font-size }}px;
      background-color: {{ section.settings.btn-bg-color }};
    }
    .lets-talk-btn a{
        color:{{ section.settings.btn-txt-color }};
      }
    .lets-talk-store-section{
    margin-bottom:{{ section.settings.slides-margin-btm }}px;
  }
  @media(max-width:1024px){
    .lets-talk-store-heading{
         font-size: {{ section.settings.heading-font-size-mob }}px;
      }
      .lets-talk-store-paras{
         font-size: {{ section.settings.para-font-size-mob }}px;
      }
      .lets-talk-btn{
         font-size: {{ section.settings.btn-font-size-mob }}px;

      }

  }
    @media(max-width:768px){
      .lets-talk-store-section{
         margin-bottom:{{ section.settings.slides-margin-btm-mob }}px;
      }
    }
{% endstyle %}
<div class="container">
  <div class="lets-talk-store-section">
    <div class="lets-talk-store">
      {% if section.settings['online-store-img'] %}
        <div class="lets-talk-store-img">
          <img src="{{ section.settings.online-store-img | img_url :'master' }}">
        </div>
      {% endif %}
    </div>
    <div class="lets-talk-store-text">
      <h2 class="lets-talk-store-heading">{{ section.settings['talk-store-heading'] }}</h2>
      <p class="lets-talk-store-para">{{ section.settings['talk-store-para'] }}</p>
      <p class="lets-talk-store-paras">{{ section.settings['talk-store-para-mob'] }}</p>
      {% if section.settings['talk-btn-src'] %}
        <div class="lets-talk-btn">
          <a href="{{ section.settings.talk-btn-src }}"> {{ section.settings['lets-talk-btn'] }} </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "lets-talk-store",
  "settings": [
    {
      "type": "range",
      "id": "slides-margin-btm",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Paadding Bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "slides-margin-btm-mob",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Paadding btm Mob",
      "default": 1
    },
    {
      "type": "select",
      "id": "adj-img-txt",
      "label": "Img and Text alignment",
      "options": [
        {
          "value": "row",
          "label": "Img first"
        },
        {
          "value": "row-reverse",
          "label": "Text First"
        }
      ],
      "default": "row"
    },
    {
      "type": "image_picker",
      "id": "online-store-img",
      "label": "Add a image"
    },
    {
      "type": "text",
      "id": "talk-store-heading",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "heading-font-size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 64
    },
    {
      "type": "range",
      "id": "heading-font-size-mob",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size Mobile",
      "default": 42
    },
    {
      "type": "text",
      "id": "talk-store-para",
      "label": "Para Desktop"
    },
    {
      "type": "text",
      "id": "talk-store-para-mob",
      "label": "Para Mobile"
    },
    {
      "type": "range",
      "id": "para-font-size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "para-font-size-mob",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size Mobile",
      "default": 16
    },
    {
      "type": "text",
      "id": "lets-talk-btn",
      "label": "Button Text"
    },
    {
      "type": "range",
      "id": "btn-font-size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "btn-font-size-mob",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 15
    },
    {
      "type": "url",
      "id": "talk-btn-src",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "btn-txt-color",
      "label": "Body text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "btn-bg-color",
      "label": "Body text",
      "default": "#FF7121"
    }
  ],

  "presets": [
    {
      "name": "lets-talk-store"
    }
  ]
}
{% endschema %}
