<section class="homeMarque">
    <div class="marquee marquee--hover-pause enable-animation-banner">
        <div class="marquee__content">

            {% for block in section.blocks %}
            <div class="Marquee-tag">
                {{ block.settings.imagelogo }}
                {% comment %} <img class="image01" src="{{ block.settings.imageDoller | image_url }}" alt="marguee one"/> {% endcomment %}
                {% comment %} <img class="image02" src="{{ block.settings.imageLogo | image_url }}" alt="marguee two" /> {% endcomment %}
            </div>
        {% endfor %}
        </div>
        <div class="marquee__content aria-hidden="true"">
            {% for block in section.blocks %}
                <div class="Marquee-tag">
                    {{ block.settings.imagelogo }}
                    {% comment %} <img class="image01" src="{{ block.settings.imageDoller | image_url }}" alt="marguee one"/> {% endcomment %}
                    {% comment %} <img class="image02" src="{{ block.settings.imageLogo | image_url }}" alt="marguee two" /> {% endcomment %}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>

{% schema %}
{
    "name":"Marguee",
    "blocks":[
        {
            "name":"Marquee Logo",
            "type":"marqueeType",
            "settings": [
               
                {
                    "type":"html",
                    "label":"logo",
                    "id":"imagelogo"
                }
            ]

            
        }
       
    ]
}
{% endschema %}






