<section class="homeMarque">
    {% comment %} <div class="marquee marquee--hover-pause enable-animation-banner">
        <div class="marquee__content">

            {% for block in section.blocks %}
            <div class="Marquee-tag">
                {{ block.settings.imagelogo }}
                {% comment %} <img class="image01" src="{{ block.settings.imageDoller | image_url }}" alt="marguee one"/> {% endcomment %}
                {% comment %} <img class="image02" src="{{ block.settings.imageLogo | image_url }}" alt="marguee two" /> {% endcomment %}
            </div>
        {% endfor %}
        </div>
        <div class="marquee__content aria-hidden="true"">
            {% for block in section.blocks %}
                <div class="Marquee-tag">
                    {{ block.settings.imagelogo }}
                    {% comment %} <img class="image01" src="{{ block.settings.imageDoller | image_url }}" alt="marguee one"/> {% endcomment %}
                    {% comment %} <img class="image02" src="{{ block.settings.imageLogo | image_url }}" alt="marguee two" /> {% endcomment %}
                </div>
            {% endfor %}
        </div>
    </div>
    </div> {% endcomment %}

    {% comment %} <div class="swiper-container js-marquee-slider">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="Marquee-tag">
                        <img src="{{ block.settings.imagelogoImage | image_url }}">                         
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> {% endcomment %}

    {%- capture section_content -%}
        {%- for i in (1..10) -%}
            <span class="scrolling-text__text heading {% unless forloop.first %}motion-reduce:hidden{% endunless %}" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
                {% for block in section.blocks %}
                    {% if block.settings.imagelogoImage != blank %}
                        <div class="swiper-slide">
                            <div class="Marquee-tag">
                                <img src="{{ block.settings.imagelogoImage | image_url }}">
                            </div>
                        </div>
                        {% elsif block.settings.text != blank %}
                            {{ block.settings.text }}
                    {% endif %}
                {%- endfor -%}
            </span>
        {%- endfor -%}
    {%- endcapture -%}
  
    <div class="scrolling-text {% if section.settings.scrolling_mode == 'scroll' %}scrolling-text--scroll{% else %}scrolling-text--auto{% endif %}">
        {%- if section.settings.scrolling_mode == 'scroll' -%}
            <visibility-progress class="scrolling-text__wrapper">
            {{- section_content -}}
            </visibility-progress>
            {%- else -%}
            <marquee-text scrolling-speed="{{ section.settings.scrolling_speed }}" class="scrolling-text__wrapper">
                {{- section_content -}}
            </marquee-text>
        {%- endif -%}
    </div>
</section>

{% schema %}
{
    "name":"Marguee",
    "settings": [
        {
            "type": "select",
            "id": "scrolling_mode",
            "label": "Scrolling mode",
            "options": [
                {
                    "value": "auto",
                    "label": "Automatic"
                },
                {
                    "value": "scroll",
                    "label": "On scroll"
                }
            ],
            "default": "auto"
        },
        {
            "type": "range",
            "id": "scrolling_speed",
            "min": 3,
            "max": 20,
            "step": 1,
            "unit": "s",
            "label": "Automatic scrolling speed",
            "default": 10
        }        
    ],
    "blocks":[
        {
            "name":"Marquee Logo",
            "type":"marqueeType",
            "settings": [
               
                {
                    "type":"html",
                    "label":"logo",
                    "id":"imagelogo"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type":"image_picker",
                    "label":"logo",
                    "id":"imagelogoImage"
                }
            ]

            
        }

       
    ]
}
{% endschema %}






