<section class="ourWork">
  <div class="container">
    <div class="ourWork__headContainer">
      <h2 class="h1-main my-60">
        {{ section.settings.heading }}
      </h2>
      <div class="">
        <a href="{{ section.settings.link }}" class="d-inline-block arrow-btn">
          {% comment %} <img src="{{ 'arrow-icon.png' | asset_img_url }} "/> {% endcomment %}
          <svg width="74" height="59" viewBox="0 0 74 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M44.5924 1C60.2784 1 73 13.7618 73 29.5031C73 45.2441 60.2787 58 44.5924 58H29.4076C13.7216 58 1 45.2375 1 29.4962C1 13.7552 13.7213 1 29.4076 1H44.5924Z" fill="white" stroke="black" stroke-width="2"/>
            <path d="M20 29.0909H54.1302M40.0906 15L54.2327 29.1421L40.0906 43.2843" stroke="black" stroke-width="2"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="ourWork__card_border our--work--card--parent">
    <div class="container con-padding--remover">
      <ul class="ourWork__cards swiper-container js-work-slider our--work--card">
        <div class="swiper-wrapper our--work--card-child">
          {% for block in section.blocks %}
            <li class="ourWork__card swiper-slide">
              <a href="{{ block.settings.cardtext_url }}">  
            <div class="ourWork__cardBody">
              <div  class="img-container">
                <div id="work-img-wrp" class="img-wrp">
                  <img class="thumb-img" src="{{ block.settings.cardImage | image_url}}"/>
                  <div class="workOn-hover--info">
                   
                    {{ block.settings.work_info }}
                  
                   <h6 class="work_info_author">
                    {{ block.settings.brand_info }}
                  </h6> 
                </div>
                {% if block.settings.coming_soon %}
                  <div class="coming-soon-parent">
                    <div class="coming-soon-peoject">
                      Comming Soon
                    </div>
                  </div>
                {% endif %}
                </div>
                             
                  <div class="brand_text_wrap">
                    {{ block.settings.cardtext }}
                    <span class="Hover__arrow">
                      {% render 'arrow-icon' %}
                    </span>
                  </div>
                
              </div>
            </div>
          </a>
          </li>
          {% endfor %}
        </div>
      </ul>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Our Work",
    "settings": [
      {
        "id": "heading",
        "label": "Heading",
        "type": "text",
        "default": "Our Works"
      },{
        
        "id":"link",
        "label":"Link",
        "type":"url"
    
    }

    ],
    "blocks": [
      {
        "name": "card",
        "type": "cardType",
        "settings": [
          {
            "id": "cardtext",
            "type": "richtext",
            "label": "Brand Name"
          },
          {
            "id": "cardtext_url",
            "type": "url",
            "label": "Brand Link"
          },
          {
            "id": "cardImage",
            "type": "image_picker",
            "label": "Image"
          }, 
          {
          "type":"richtext",
          "id":"work_info",
          "label":"work nNformation"
          },
          {
            "type":"text",
            "id":"brand_info",
            "label": "Brand Info"
          },
          {
          "id":"coming_soon",
          "type":"checkbox",
          "label": "make it as coming soon",
          "default": false
          },
          {
            "id": "cardImageBrand",
            "type": "image_picker",
            "label": "Logo"
          },
          {
            "id":"buttonLink",
            "label":"Button link",
            "type":"url"
          },
          {
            "id":"cardMarque",
            "label":"Tag slider",
            "type":"html"
          },
          {
            "id":"open_new_tabs",
            "type":"checkbox",
            "label":"Open in new tab",
            "default":false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "our work"
      }
    ]
  }
{% endschema %}