{% style %}
{% endstyle %}
<div class="Product_pack_main">
    <div class="container">
        <div class="Product_pack_heading">
            <h2> {{ section.settings.product_heading }} </h2>
        </div>
    <div class="Product_pack_details">
        {% for item in product.metafields.custom.pack_details.value %}
        <div class="Product_pd_main">
            <div class="Product_pd_heading">
            <h6>{{ item.package_heading }}</h6>
            </div>
            <div class="Product_pd_para"><p> {{ item.description }} </p> </div>
        </div>
        {% endfor %}
    </div>
    

   {% comment %} {{ package_heading }}
   {{ description }} {% endcomment %}
  </div>
</div>
{% schema %}
{
  "name": "Product pack",
  "settings": [
    {
        "type":"text",
        "id": "product_heading",
        "label":"Heading"
    }
  ],
  "presets": [
    {
      "name": "Product pack"
    }
  ]
}
{% endschema %}
