<section class="product">
    <div class="container">
        <h1 class="h1-main my-60">{{ section.settings.heading }} </h1>
    </div>

    <ul class="product__list">
        {% for block in section.blocks %}
            <li>
                <div class="container">
                    <div class='product__listWrp'>
                        <div class="product__listImg">
                            <div class="product__listImgWrp">
                                <img class="img-product" src="{{ block.settings.productImg | image_url }}" />
                                <div class="product__footer">
                                    <img class="img-product" src="{{ block.settings.productLogo | image_url }}" />
    
                                </div>
                            </div>
                        </div>
                        <div class="product__listContent">
                            <div class="product__listContentWrp">
                                <h2 class="fnt-36">{{ block.settings.head }}</h2>
                                <p class="fnt-24 clr-b"> {{ block.settings.sub }} </p>
                                <a class="btn btn--orange" href="{{ block.settings.link }}"> <div class="d-flex"> <span> {{ block.settings.btnContent}} </span>   <div class="">
                                    <img class="btn-arrow ml-16" src="https://cdn.shopify.com/s/files/1/0662/5122/7356/files/btn-arrow.svg?v=1665478404" alt="arrow"/>
                
                                  </div></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
       
    </ul>
</section>

{% schema %}
    {
        "name":"Product",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type":"text"
            }
        ],
        "blocks":[{

            "name":"Product",
            "type":"products",
            "settings":[
                {
                    "id":"productImg",
                    "label":"Image",
                    "type":"image_picker"
                },
                {
                "id":"productLogo",
                "label":"Logo",
                "type":"image_picker"
                },
                {
                    "id":"head",
                    "label":"Heading",
                    "type":"text"
                
                },

                {
                    "id":"sub",
                    "label":"Text",
                    "type":"text"
                },
                {
                    "id":"btnContent",
                    "label":"Button Text",
                    "type":"text"
                },
                {
                    "id":"link",
                    "label":"Link",
                    "type":"url"
                }
            ]
        }
            

        
        ]
    }
{% endschema %}