








<section class="ourServices">
    <div class="container">
        <h2 class="h1-main">{{ section.settings.heading }}</h2>
    </div>
    <div class="ourServices__wrp">
        
        <div class="container position-relative">
            <div class="service-marque-left"> 
                <div class="marquee marquee--hover-pause enable-animation-v p-0 ">
                    {{ section.settings.leftMargue }}
                </div>
        
        </div>
      
        
            <div class="ourServices__content">
                <ul class='ourServices__card'>

                    {%- for block in section.blocks -%}
                        <li class="ourServices__cardItem">
                            <h3 class="m-0"> {{ block.settings.cardHeading }}</h3>
                            {{ block.settings.cardList }}
                        </li>
                    {%- endfor -%}
                   
                </ul>
            </div>
            <div class="service-marque-right">


                <div class="marquee marquee--hover-pause enable-animation-v p-0 ">
                    {{ section.settings.rightMargue }}
                     
                   </div> 
            </div>
        </div>
        
    
    </div>
    
</section>


{% schema %}
    {
        "name":"Our Services",
        "settings":[
            {
                "id":"heading",
                "label":"Heading",
                "type":"text"
            
            },{
                "id":"leftMargue",
                "label":"Left side slider",
                "type":"html"
            }
            ,{
                "id":"rightMargue",
                "label":"right side slider",
                "type":"html"
            }
        ],
        "blocks":[
            {
                "name":"Service Card",
                "type":"serviceCard",
                "settings":[
                    {
                        "id":"cardHeading",
                        "label":"Card Heading",
                        "type":"text"
                    },
                    {
                        "id":"cardList",
                        "label":"card list",
                        "type":"textarea"
                    }

                ]

            }
        ]
        
    }
{% endschema %}