{% style %}
    .service_section_header--{{ section.id }} .h1{
        font-size: {{ section.settings.font_size_desk }}px;
        font-weight: 700;
    }
    .service_section_header--{{ section.id }}{
      background: {{ section.settings.bg_gradient_desk }};
    }
    .service_section_header--{{ section.id }}{
      margin-top: 50px;
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_btm }}px;
    }
    @media(max-width:1200px){
      .service_section_header--{{ section.id }} .h1{
          font-size: {{ section.settings.font_size_desk | times: 0.75 | round }}px;
          margin-bottom: 0;
 
      }
      .service_section_header--{{ section.id }}{
          padding-top: {{ section.settings.padding_top | times: 0.85 | round }}px;
          padding-bottom: {{ section.settings.padding_btm | times: 0.90 | round }}px;
      }
     }
@media(max-width:520px){
  .service_section_header--{{ section.id }} .h1{
        font-size: {{ section.settings.font_size_desk | times: 0.55 | round }}px;
    }
}
   
{% endstyle %}
<section class="page_banner_shadow service_section_header--{{ section.id }}" id ="{{ section.settings.heading | replace: " ", "_" }}">
  <div class="container">
    <div>
      <h1 class="h1">{{ section.settings.heading }}</h1>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Service section header",
  "settings": [
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    },
    {
      "type": "range",
      "id": "font_size_desk",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size desktop",
      "default": 64
    },
    {
      "type": "color_background",
      "id": "bg_gradient_desk",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 2,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "padding top",
      "default": 108
    },
    {
      "type": "range",
      "id": "padding_btm",
      "min": 2,
      "max": 200, 
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Service section header"
    }
  ]
}
{% endschema %}
