<section class="work">
  <div class="container ">
    <div class="serviceShowHeading">
    <h2 class="work-h1 serviceShowcaseh2">{{ section.settings.heading }}
    </h2>
    {% if section.settings.link %}
    <div class="">
      <a href="{{ section.settings.link }}" class="d-inline-block arrow-btn">
        <svg width="74" height="59" viewBox="0 0 74 59" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M44.5924 1C60.2784 1 73 13.7618 73 29.5031C73 45.2441 60.2787 58 44.5924 58H29.4076C13.7216 58 1 45.2375 1 29.4962C1 13.7552 13.7213 1 29.4076 1H44.5924Z" fill="white" stroke="black" stroke-width="2"/>
          <path d="M20 29.0909H54.1302M40.0906 15L54.2327 29.1421L40.0906 43.2843" stroke="black" stroke-width="2"/>
        </svg>
      </a>
    </div>
  </div>
{% endif %}
  <div class="workpage__cards_parent">
    <div class="">
      <ul class="ourWork__cards workpage__cards " id="ul">
        {% for item in section.blocks %}
          {% assign block = item.settings %}
          <a {% if block.coming_soon == false %} href="{{ block.cardtext_url }}" {% endif %} {% if block.open_new_tabs %} target="_blank" {% endif %} class="ourWork__card workpage__card">
            <div class="ourWork__cardBody">
              <div class="img-container">
                <div id="work-img-wrp" class="img-wrp">
                  <img class="thumb-img" src="{{ block.cardImage | image_url}}" />
                  <div class="workOn-hover--info">
                   
                      {{ block.work_info | replace: ' ', '  &bull; ' }}
                    
                     <h6 class="work_info_author">
                      {{ block.brand_info }}
                    </h6> 
                  </div>
                </div>
                {% if block.coming_soon %}
                  <div class="coming-soon-parent">
                    <div class="coming-soon-peoject">
                      Coming Soon
                    </div>
                  </div>
                {% endif %}
                <div class="work-logo-footer ">
                  {% if block.show_logo_insted_of_text %}
                    <div class="work-logo-footer__imgWrp">
                      <img class=" brandLogo" src=" {{ block.cardImageBrand | image_url}}  " />
                      {% if block.buttonLink %}
                        <span class="work_hover_arrow">
                          {% render 'arrow-icon' %}
                        </span>
                      {% endif %}
                    </div>
                  {% else %}
                    <p
                      class="work--page-brand-name {% if block.link %}work--cur-notAllow {% endif %}">
                      {{ block.cardtext }}
                      {% if block.buttonLink %}
                        <span class="work_hover_arrow">
                          {% render 'arrow-icon' %}
                        </span>
                      {% endif %}
                    </p>
                  {% endif %}
                </div>

              </div>
            </div>
          </a>
        {% endfor %}
      </ul>
      
    </div>
  </div>



{% schema %}

  {
    "name": "service showcase",
    "settings": [
      {
        "id": "heading",
        "label": "Heading",
        "type": "text",
        "default": "Our Works"
      },{
        
        "id":"link",
        "label":"Link",
        "type":"url"
    
    }

    ],
    "blocks": [
      {
        "name": "card",
        "type": "cardType",
        "settings": [
          {
            "id": "cardtext",
            "type": "text",
            "label": "Brand Name"
          },
          {
            "id": "cardtext_url",
            "type": "url",
            "label": "Brand Link"
          },
          {
            "id": "cardImage",
            "type": "image_picker",
            "label": "Image"
          }, 
          {
          "type":"richtext",
          "id":"work_info",
          "label":"work nNformation"
          },
          {
            "type":"text",
            "id":"brand_info",
            "label": "Brand Info"
          },
          {
          "id":"coming_soon",
          "type":"checkbox",
          "label": "make it as coming soon",
          "default": false
          },
          {
            "id": "cardImageBrand",
            "type": "image_picker",
            "label": "Logo"
          },
          {
            "id":"show_logo_insted_of_text",
            "type":"checkbox",
            "label":"Show logo insted of text",
            "default": false
          },
          {
            "id":"buttonLink",
            "label":"Button link",
            "type":"url"
          },
          {
            "id":"cardMarque",
            "label":"Tag slider",
            "type":"html"
          },
          {
            "id":"open_new_tabs",
            "type":"checkbox",
            "label":"Open in new tab",
            "default":false
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "service showcase"
      }
    ]

  }
{% endschema %}