{% style %}
  .clients-shopify{
     margin-bottom:{{ section.settings.parent-margin-btm }}px;
   }


   @media(max-width:768px){
     .clients-shopify{
       margin-bottom:{{ section.settings.parent-margin-btm-mob }}px;
    }
   }
{% endstyle %}
<section class="clients-shopify">
  <div class="container">
    <h1 class="clients-heading">{{ section.settings.heading }}</h1>
  </div>
  <div class="shopify-plus-clients swiper-container js-top-image-sliders-mobile">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="plus-client-main{% if block.settings.color-change %} chnage-bg-section{% endif %} swiper-slide">
            <div class="container">
              <div class="plus-client-container"> 
                <div class="plus-client" style="flex-direction: {{ block.settings.vertical_alignment }};">
                  <div class="client-image-main">
                    {% if block.settings.cimage %}
                      <div class="client-image">
                        <img class="featimg" src="{{ block.settings.cimage | img_url : 'master' }}" alt="client image">
                      </div>
                    {% endif %}
                  </div>
                  <div class="client-text">
                    <div class="client-text-logo">
                      {% if block.settings.clogo %}
                        <img class="logo" src="{{ block.settings.clogo | img_url :'master' }}" alt="client logo">
                      {% endif %}
                    </div>
                    <p class="cpara">{{ block.settings.cpara }}</p>
                    <div class="client-text-btn">
                      {% if block.settings.cBtnlink %}
                        <a
                          href="{{ block.settings.cBtnlink}}"
                          class="client-btn"
                          style="color:{{ block.settings.btn_color }}; background:{{ block.settings.btn_bg }}"
                        >
                          {{ block.settings.cBtn }}
                        </a>
                      {% endif %}
                    </div>
                    <div class="clients-shopify_project_rating">  
                      {% assign filled_stars = block.settings.project-ratings | floor %}
                      {% assign half_star = block.settings.project-ratings | minus: filled_stars %}
                      {% assign empty_stars = 5 | minus: block.settings.project-ratings | minus: half_star | ceil %}
                        {{ block.settings.project-ratings }}
                          {% for i in (1..filled_stars) %}
                            {% render 'filled_star' %}
                          {% endfor %}
                          {% if half_star > 0 %}
                            {% render 'half_star_rating' %}
                          {% endif %}
                          {% for i in (1..empty_stars) %}
                            {% render 'un-filled_star' %}
                          {% endfor %}
                    </div>
                    <p class="ctestimonial">{{ block.settings.ctestimonial }}</p>
                    <p class="client-name">{{ block.settings.cname }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Our clients block",
  "settings": [
    {
      "type": "range",
      "id": "parent-margin-btm",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Paadding Bottom",
      "default": 1
    },
    {
      "type": "range",
      "id": "parent-margin-btm-mob",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Paadding btm Mob",
      "default": 1
    },
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "name": "clients Block",
      "type": "cardType",
      "settings": [
        {
          "type": "checkbox",
          "id": "color-change",
          "label": "Use alternate color",
          "default": true
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "row",
              "label": "Image first"
            },
            {
              "value": "row-reverse",
              "label": "Text First"
            }
          ],
          "default": "row"
        },
        {
          "type": "image_picker",
          "id": "cimage",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "clogo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "cpara",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "cBtn",
          "label": "Button text"
        },
        {
          "type": "range",
          "id": "project-ratings",
          "min": 1.0,
          "max": 5.0,
          "step": 0.5,
          "unit": "STR",
          "label": "Project ratings",
          "default": 5.0
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Button color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "btn_bg",
          "label": "Button background",
          "default": "#FF7121"
        },
        {
          "type": "url",
          "id": "cBtnlink",
          "label": "link"
        },
        {
          "type": "text",
          "id": "ctestimonial",
          "label": "Testimonial"
        },
        {
          "type": "text",
          "id": "cname",
          "label": "Client name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our clients block"
    }
  ]
}
{% endschema %}
