<section class="role{% if template.name == "index" %} role__home{% endif %}">
    <div class="role__card">
        {% for item in section.blocks limit: 2 %}
            <div class="role__cardItem" style="flex-basis: {{ item.settings.width }}%;">
                <h5 class="role__head">{{ item.settings.heading }}</h5>
                <div class="role__text">
                    {{ item.settings.description }}
                    {% if item.settings.linkText != blank %}
                        <a class="btn btn--orange" href={{ item.settings.linkUrl }}>{{ item.settings.linkText }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
      
    </div>
</section>

<style>
    {% if section.blocks.size > 1 %}
        .role__cardItem:not(:last-child) {
            border-bottom-right-radius: 40px;
        }

        .role__cardItem:not(:first-child) {
            border-bottom-left-radius: 40px;
            border-left: 1px solid #000;
        }

        @media (max-width: 999px) {
            .role__cardItem:not(:last-child) {
                border-bottom: 1px solid #000;
                border-bottom-right-radius: 30px;
            }

            .role__cardItem:not(:first-child) {
                border-bottom-left-radius: 0;
                border-left: 0;
                border-top-right-radius: 30px;
            }
        }
    {% endif %}
</style>

{% schema %}
    {
        "name":"role",
        "blocks":[
            {
                "name":"roleblock",
                "type":"role",
                "settings":[
                    {
                        "id":"heading",
                        "label":"Role Heading",
                        "type":"text"
                    },{
                        "id":"description",
                        "label":"Role Description",
                        "type":"richtext"
                    },{
                        "id":"width",
                        "label":"Column width",
                        "type":"range",
                        "min": 0,
                        "max": 100,
                        "default": 50
                    },{
                        "id":"linkText",
                        "label":"Link Text",
                        "type":"text"
                    },{
                        "id":"linkUrl",
                        "label":"Link Url",
                        "type":"text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "role"
            }
        ]
    }
{% endschema %}