<section class="testimonials">
  <div class="no__container">
    <div class="testimonials__wrapper_section">
      <div class="testimonials__header">
        <div class="testimonials__header__info">
          <h2 class="h1-main">{{ section.settings.heading }}</h2>
          <div class="content_info">
            {{ section.settings.content }}
          </div>

          <div class="rating">
            <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
            <div
              class="clutch-widget"
              data-url="https://widget.clutch.co"
              data-widget-type="2"
              data-height="45"
              data-nofollow="true"
              data-expandifr="true"
              data-scale="100"
              data-clutchcompany-id="1012274"></div>
          </div>
        </div>
        <div class="testimonials__slider-arrow">
          <div class="slider-arrow only-desktop">
            <div class="js-arrow-left arrow-icon">
              {% render 'icon-left-arrow' %}
            </div>
            <div class="js-arrow-right arrow-icon">
              {% render 'icon-right-arrow' %}
            </div>
          </div>
        </div>

      </div>
      <div class="testimonials__wrp">
        <div class="swiper-container js-testimonial-slider">
          <ul class="swiper-wrapper testimonials__slider">
            {% assign sliderType = section.blocks | where: 'type', 'sliderType' %}
            {% for block in sliderType %}
              {%- if block != blank -%}
                <li class="testimonials__slide swiper-slide">
                  <div class="testimonials__head">
                  {% if block.settings.testimonial_logo %}                  
                    {% if block.settings.sliderImage %}                  
                       <div class="testimonials__logoWrp">
                          <img class="testimonials__logo" src="{{ block.settings.sliderImage | img_url: 'master'  }} " />
                        </div>
                      {% endif %}
                    {% else %}
                      {% if block.settings.slidertxt %}
                          <div class="testimonials__logoTxtWrp">
                            <h3 class="testimonials__logoTxt"> {{ block.settings.slidertxt }} </h3>
                          </div>
                        {% endif %}
                  {% endif %} 
                  </div>
                  <div class="testimonials__body">
                    <p class="fnt-600 clr-b m-0">
                      {{ block.settings.sliderText }}
                    </p>
                    <div class="testimonials__footer">
                      <h5 class="m-0">
                        {{ block.settings.name }}
                      </h5>
                      <p class="designation m-0">
                        {{ block.settings.designation }}
                      </p>
                    </div>
                  </div>
                </li>
              {%- endif -%}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "testimonials",
    "settings": [
      {
        "id": "heading",
        "label": "Heading",
        "type": "text"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "blocks": [
      {
        "name": "slide",
        "type": "sliderType",
        "settings": [
          {
            "id": "slidertxt",
            "label": "Heading",
            "type": "text"
          },
          {
            "type": "image_picker",
            "id": "sliderImage",
            "label": "Brand Logo"
          },
          {
            "type": "checkbox",
            "id": "testimonial_logo",
            "label": "Show logo insted of text",
            "default": false
          },
          {
            "id": "sliderText",
            "label": "Quotes",
            "type": "text"
          }, {
            "id": "name",
            "label": "Name",
            "type": "text"
          }, {
            "id": "designation",
            "label": "Designation",
            "type": "text"
          }
        ]
      }
    ],
    "presets": [
{
"name": "Testimonials"
}
]
  }
{% endschema %}