<section class="uiDesign">
  <div class="only-mobile">
    <ul class="uiDesign__list d-flex">

      {% comment %} <div class="swiper-container mobile-logo-slider">
        <div class="swiper-wrapper">
       
            {% for block in section.blocks limit: 7 %}
              <li class="uiDesign__item swiper-slide " data-id="top-{{ forloop.index }}">
                <div>
      
                  {{ block.settings.UIicons }}
                </div>
              </li>
            {% endfor %}


       

    
        </div>
      </div> {% endcomment %}
     
    </ul>
  </div>
  <div class="uiDesign__wrp ">
    <ul class="uiDesign__list d-flex only-desktop">
      {% for block in section.blocks limit: 7 %}
     
        {% if block.settings.position == "top" %}
          {% if forloop.first %}
            <li class="uiDesign__item active" data-id="top-{{ forloop.index }}">
              <div>
                {{ block.settings.UIicons }}
              </div>
            </li>
            {% else %} 
            <li class="uiDesign__item " data-id="top-{{ forloop.index }}">
              <div>
                {{ block.settings.UIicons }}
              </div>
            </li>

          {% endif %}
        {% endif %}
   
      {% endfor %}
    </ul>
   <div class="d-flex">
      <ul class="uiDesign__list left-icons only-desktop">
        {% for block in section.blocks %}
     
          {% if block.settings.position == "left" %}
            
            <li class="uiDesign__item " data-id="top-{{ forloop.index }}">
              <div>
                {{ block.settings.UIicons }}
              </div>
            </li>
          {% endif %}
     
        {% endfor %}
      </ul>
      <div class="uiDesingDrwa">
        <div class="uiText">
          {%- assign Text = section.blocks -%}
          {%- for block in Text -%}
            {%- if forloop.first -%}
              <div class="UImainText active" id="top-{{ forloop.index }}">
                <h2>
                  {{ block.settings.serviceText }}
                </h2>
              </div>
            {%- else -%}

              <div class="UImainText " id="top-{{ forloop.index }}">
                <h2>
                  {{ block.settings.serviceText }}
                </h2>
              </div>
            {%- endif -%}

          {%- endfor -%}
         



        </div>
      </div>
      <ul class="uiDesign__list right-icons only-desktop">
      
        {% for block in section.blocks %}
     
          {% if block.settings.position == "right" %}
            
            <li class="uiDesign__item " data-id="top-{{ forloop.index }}">
              <div>
                {{ block.settings.UIicons }}
              </div>
            </li>
          {% endif %}
     
        {% endfor %}
      </ul>

    </div> 
  </div>


</section>


{% schema %}

  {
    "name": "Services",

    "blocks": [
      {
        "name":"Service product",
        "type":"services",
        "settings": [
          {
            "id":"position",
            "label":"position",
            "type" : "select",
            "options":[
              {
                "value":"top",
                "label":"Top"
              },
              {
                "value":"left",
                "label":"Left"
              },{
                "value":"right",
                "label":"Right"
              }
            ]
          },{
                "id": "UIicons",
                "label": "Icon",
                "type": "text"
              },
            
          {
            "id":"serviceText",
            "label":"Service Type",
            "type":"text"
          }
        ]
      
      }
    ]
  }
{% endschema %}